.rui-popover {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: -1px;
  border: 1px solid rgb(203 213 225 / 1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgb(255 255 255 / 0.95);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  backdrop-filter: blur(8px);
}

[data-theme="dark"] .rui-popover {
  border-color: rgb(82 82 91 / 1);
  background-color: rgb(24 24 27 / 0.95);
}

.rui-popover__inner {
  position: relative;
}

.rui-popover__scrollbar {
  pointer-events: none;
  position: absolute;
  top: 6px;
  bottom: 6px;
  right: 2px;
  display: flex;
  width: 0.75rem;
  justify-content: center;
}

.rui-popover__scrollbar-track {
  pointer-events: auto;
  position: relative;
  height: 100%;
  width: 0.25rem;
  border-radius: 9999px;
  background-color: rgb(15 23 42 / 0.05);
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

[data-theme="dark"] .rui-popover__scrollbar-track {
  background-color: rgb(255 255 255 / 0.1);
}

.rui-popover__scrollbar-thumb {
  pointer-events: auto;
  position: absolute;
  left: 50%;
  width: 0.375rem;
  border-radius: 9999px;
  transform: translateX(-50%);
  background-color: rgb(148 163 184 / 0.8);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

[data-theme="dark"] .rui-popover__scrollbar-thumb {
  background-color: rgb(228 228 231 / 0.7);
}
