.rui-progress-meter {
  display: block;
}

.rui-progress-meter > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.375rem;
  margin-bottom: 0px;
}

.rui-progress-meter__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.rui-progress-meter__label {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  color: rgb(100 116 139 / 1);
}

.rui-progress-meter__label:is([data-theme="dark"] *) {
  color: rgb(161 161 170 / 1);
}

.rui-progress-meter__value {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: rgb(71 85 105 / 1);
}

.rui-progress-meter__value:is([data-theme="dark"] *) {
  color: rgb(212 212 216 / 1);
}

.rui-progress-meter__description {
  font-size: 11px;
  color: rgb(100 116 139 / 1);
}

.rui-progress-meter__description:is([data-theme="dark"] *) {
  color: rgb(161 161 170 / 1);
}

.rui-progress-meter__track {
  position: relative;
  height: 0.75rem;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgb(226 232 240 / 1);
  background-color: rgb(255 255 255 / 1);
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05), 0 0 #0000,
    0 0 0 calc(1px + 0px) rgb(241 245 249 / 0.8);
}

.rui-progress-meter__track:is([data-theme="dark"] *) {
  border-color: rgb(63 63 70 / 1);
  background-color: rgb(24 24 27 / 0.7);
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05), 0 0 #0000,
    0 0 0 calc(1px + 0px) rgb(39 39 42 / 0.7);
}

.rui-progress-meter__native {
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.rui-progress-meter__fill {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 9999px;
  box-shadow: 0 0 0 1px rgba(15, 23, 42, 0.2);
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-progress-meter__fill--gradient {
  background-image: linear-gradient(to right, #0f172a, #334155, #0f172a);
}
