.rui-datalist-input__u-max-height-14rem--520bb7118c {
  max-height: 14rem;
}

.rui-datalist-input__u-width-100--6da6a3c3f7 {
  width: 100%;
}

.rui-datalist-input__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-datalist-input__u-gap-0-75rem--1004c0c395 {
  gap: 0.75rem;
}

.rui-datalist-input__u-style--5a2508227c > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.375rem * calc(1 - 0));
  margin-bottom: calc(0.375rem * 0);
}

.rui-datalist-input__u-overflow-auto--73fc3fb18c {
  overflow: auto;
}

.rui-datalist-input__u-background-color-rgb-248-250-252--f97e9d36d1 {
  background-color: rgb(248 250 252 / 1);
}

.rui-datalist-input__u-background-color-rgb-248-250-252--f97e9d36d1\/70 {
  background-color: rgb(248 250 252 / 0.7);
}

.rui-datalist-input__u-background-color-rgb-248-250-252--f97e9d36d1\/80 {
  background-color: rgb(248 250 252 / 0.8);
}

.rui-datalist-input__u-background-color-rgb-248-250-252--f97e9d36d10\/40 {
  background-color: rgb(100 116 139 / 0.4);
}

.rui-datalist-input__u-padding-left-0-75rem--0e17f2bd90 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.rui-datalist-input__u-padding-top-0-25rem--660d2effb8 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rui-datalist-input__u-padding-top-0-5rem--03b4dd7f17 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rui-datalist-input__u-text-align-left--2eba0d65d0 {
  text-align: left;
}

.rui-datalist-input__u-font-size-10px--1dc571a360 {
  font-size: 10px;
}

.rui-datalist-input__u-font-size-11px--d058ca6de6 {
  font-size: 11px;
}

.rui-datalist-input__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-datalist-input__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-datalist-input__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-datalist-input__u-letter-spacing-0-2em--2da1a7016e {
  letter-spacing: 0.2em;
}

.rui-datalist-input__u-color-rgb-148-163-184-1--8d44cef396 {
  color: rgb(148 163 184 / 1);
}

.rui-datalist-input__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-datalist-input__u-color-rgb-30-41-59-1--c69797100a {
  color: rgb(30 41 59 / 1);
}

.rui-datalist-input__u-background-color-rgb-248-250-252--ec704dd3ca:hover {
  background-color: rgb(248 250 252 / 1);
}

.rui-datalist-input__u-outline-2px-solid-transparent--f10f771f87:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rui-datalist-input__u-box-shadow-0-0-0-0px-fff-0-0-0-c--793c80e97f:focus-visible {
  box-shadow: 0 0 0 0px #fff, 0 0 0 calc(2px + 0px) rgb(59 130 246 / 0.5), 0 0 #0000;
}

.rui-datalist-input__u-style--53929537d6:focus-visible {
}

.rui-datalist-input__u-background-color-rgb-39-39-42-0---4aa4393ed3:is(.dark *) {
  background-color: rgb(39 39 42 / 0.6);
}

.rui-datalist-input__u-color-rgb-244-244-245-1--3ddc1cab99:is(.dark *) {
  color: rgb(244 244 245 / 1);
}

.rui-datalist-input__u-color-rgb-161-161-170-1--6462b86910:is(.dark *) {
  color: rgb(161 161 170 / 1);
}

.rui-datalist-input__u-color-rgb-113-113-122-1--28db7d8770:is(.dark *) {
  color: rgb(113 113 122 / 1);
}

.rui-datalist-input__u-background-color-rgb-39-39-42-0---cc028a5287:hover:is(.dark *) {
  background-color: rgb(39 39 42 / 0.6);
}

.rui-datalist-input__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-datalist-input__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-datalist-input__u-transition-property-color-backgr--56bf8ae82a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.rui-datalist-input__list {
  list-style: none;
  margin: 0;
  max-height: 14rem;
  overflow: auto;
  padding: 0.25rem 1rem 0.25rem 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(30 41 59 / 1);
}

[data-theme="dark"] .rui-datalist-input__list {
  color: rgb(244 244 245 / 1);
}

.rui-datalist-input__option {
  margin: 0;
  padding: 0;
}

.rui-datalist-input__option-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
  background: transparent;
  text-align: left;
  cursor: pointer;
  transition: background-color 150ms ease, color 150ms ease;
  appearance: none;
}

.rui-datalist-input__option-button:hover,
.rui-datalist-input__option-button.is-active {
  background-color: rgb(248 250 252 / 1);
}

[data-theme="dark"] .rui-datalist-input__option-button:hover,
[data-theme="dark"] .rui-datalist-input__option-button.is-active {
  background-color: rgb(39 39 42 / 0.6);
}

.rui-datalist-input__option-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(148, 163, 184, 0.6);
}

.rui-datalist-input__option-key {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(148 163 184 / 1);
}

[data-theme="dark"] .rui-datalist-input__option-key {
  color: rgb(113 113 122 / 1);
}

.rui-datalist-input__option-text {
  font-weight: 600;
  color: inherit;
}

.rui-datalist-input__list,
.rui-datalist-input__option-button {
  min-width: 0;
}

.rui-datalist-input__option-text {
  flex: 1 1 0%;
  min-width: 0;
}
