.rui-datalist-input-demo__u-margin-top-0-75rem--eccd13ef4f {
  margin-top: 0.75rem;
}

.rui-datalist-input-demo__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-datalist-input-demo__u-justify-content-space-between--8ef2268efb {
  justify-content: space-between;
}

.rui-datalist-input-demo__u-gap-0-5rem--77a2a20e90 {
  gap: 0.5rem;
}

.rui-datalist-input-demo__u-style--da7c36cd88 {
  margin: 0px;
  padding: 0px;
}

.rui-datalist-input-demo__u-style--da7c36cd88 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.25rem * calc(1 - 0));
  margin-bottom: calc(0.25rem * 0);
}

.rui-datalist-input-demo__u-style--da7c36cd88\.5 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.375rem * calc(1 - 0));
  margin-bottom: calc(0.375rem * 0);
}

.rui-datalist-input-demo__u-style--6ed543e2fb > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.75rem * calc(1 - 0));
  margin-bottom: calc(0.75rem * 0);
}

.rui-datalist-input-demo__u-border-radius-1rem--68f2db624d {
  border-radius: 1rem;
}

.rui-datalist-input-demo__u-border-radius-1-5rem--ea189a088a {
  border-radius: 1.5rem;
}

.rui-datalist-input-demo__u-border-radius-9999px--ac204c1088 {
  border-radius: 9999px;
}

.rui-datalist-input-demo__u-border-style-dashed--a29b7a649c {
  border-style: dashed;
}

.rui-datalist-input-demo__u-border-color-rgb-226-232-240-1--52f4da2ca5 {
  border-color: rgb(226 232 240 / 1);
}

.rui-datalist-input-demo__u-background-color-rgb-248-250-252--2579b25ad0 {
  background-color: rgb(248 250 252 / 0.8);
}

.rui-datalist-input-demo__u-background-color-rgb-255-255-255--5e10cdb8f1 {
  background-color: rgb(255 255 255 / 1);
}

.rui-datalist-input-demo__u-background-color-rgb-255-255-255--5e10cdb8f1\/60 {
  background-color: rgb(255 255 255 / 0.6);
}

.rui-datalist-input-demo__u-background-color-rgb-255-255-255--5e10cdb8f1\/70 {
  background-color: rgb(255 255 255 / 0.7);
}

.rui-datalist-input-demo__u-background-color-rgb-255-255-255--5e10cdb8f1\/80 {
  background-color: rgb(255 255 255 / 0.8);
}

.rui-datalist-input-demo__u-background-color-rgb-255-255-255--6c21de570d {
  background-color: rgb(255 255 255 / 1);
}

.rui-datalist-input-demo__u-background-color-rgb-255-255-255--5e10cdb8f1\/95 {
  background-color: rgb(255 255 255 / 0.95);
}

.rui-datalist-input-demo__u-padding-0-75rem--eb6e8b881a {
  padding: 0.75rem;
}

.rui-datalist-input-demo__u-padding-1rem--8e63407b5c {
  padding: 1rem;
}

.rui-datalist-input-demo__u-padding-left-0-75rem--0e17f2bd90 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.rui-datalist-input-demo__u-padding-top-0-25rem--660d2effb8 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rui-datalist-input-demo__u-font-size-10px--1dc571a360 {
  font-size: 10px;
}

.rui-datalist-input-demo__u-font-size-11px--d058ca6de6 {
  font-size: 11px;
}

.rui-datalist-input-demo__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-datalist-input-demo__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-datalist-input-demo__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-datalist-input-demo__u-letter-spacing-0-2em--2da1a7016e {
  letter-spacing: 0.2em;
}

.rui-datalist-input-demo__u-letter-spacing-0-3em--bf7342eeb7 {
  letter-spacing: 0.3em;
}

.rui-datalist-input-demo__u-letter-spacing-0-025em--8baf13a3e9 {
  letter-spacing: 0.025em;
}

.rui-datalist-input-demo__u-color-rgb-148-163-184-1--8d44cef396 {
  color: rgb(148 163 184 / 1);
}

.rui-datalist-input-demo__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-datalist-input-demo__u-color-rgb-71-85-105-1--2d6fbf48fa {
  color: rgb(71 85 105 / 1);
}

.rui-datalist-input-demo__u-color-rgb-15-23-42-1--f5f136c41d {
  color: rgb(15 23 42 / 1);
}

.rui-datalist-input-demo__u-box-shadow-0-0-0000-0-0-0000-0-1--438b2237b8 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-datalist-input-demo__u-border-color-rgb-51-65-85-1--30fb741464:is(.dark *) {
  border-color: rgb(51 65 85 / 1);
}

.rui-datalist-input-demo__u-border-color-rgb-30-41-59-1--2072c87505:is(.dark *) {
  border-color: rgb(30 41 59 / 1);
}

.rui-datalist-input-demo__u-background-color-rgb-15-23-42-0---5212cbf15b:is(.dark *) {
  background-color: rgba(24, 24, 27, 0.75);
}

.rui-datalist-input-demo__u-background-color-rgb-2-6-23-0-6--ddf84eea43:is(.dark *) {
  background-color: #27272a;
}

.rui-datalist-input-demo__u-color-rgb-241-245-249-1--e1d41ccd69:is(.dark *) {
  color: rgb(241 245 249 / 1);
}

.rui-datalist-input-demo__u-color-rgb-203-213-225-1--ca11017ff7:is(.dark *) {
  color: rgb(203 213 225 / 1);
}

.rui-datalist-input-demo__u-color-rgb-148-163-184-1--cc0274aad9:is(.dark *) {
  color: rgb(148 163 184 / 1);
}

.rui-datalist-input-demo__u-color-rgb-100-116-139-1--15b16954d1:is(.dark *) {
  color: rgb(100 116 139 / 1);
}

.rui-datalist-input-demo__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-datalist-input-demo__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-datalist-input-demo__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}
