.rui-output-chip__u-display-inline-flex--52083e7da4 {
  display: inline-flex;
}

.rui-output-chip__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-output-chip__u-justify-content-center--86843cf1e2 {
  justify-content: center;
}

.rui-output-chip__u-gap-0-5rem--77a2a20e90 {
  gap: 0.5rem;
}

.rui-output-chip__u-border-radius-9999px--ac204c1088 {
  border-radius: 9999px;
}

.rui-output-chip__u-background-color-rgb-245-158-11---931bc423fa {
  background-color: rgb(245 158 11 / 1);
}

.rui-output-chip__u-background-color-rgb-16-185-129---1d40adc8f0 {
  background-color: rgb(16 185 129 / 1);
}

.rui-output-chip__u-background-color-rgb-16-185-129---1d40adc8f0\/90 {
  background-color: rgb(16 185 129 / 0.9);
}

.rui-output-chip__u-background-color-rgb-244-63-94-1--45a732a46e {
  background-color: rgb(244 63 94 / 1);
}

.rui-output-chip__u-background-color-rgb-244-63-94-1--45a732a46e\/90 {
  background-color: rgb(244 63 94 / 0.9);
}

.rui-output-chip__u-background-color-rgb-15-23-42-1--15821c2ff2 {
  background-color: rgb(15 23 42 / 1);
}

.rui-output-chip__u-background-color-rgb-15-23-42-1--15821c2ff2\/5 {
  background-color: rgb(15 23 42 / 0.05);
}

.rui-output-chip__u-background-color-rgb-15-23-42-1--15821c2ff2\/90 {
  background-color: rgb(15 23 42 / 0.9);
}

.rui-output-chip__u-padding-left-0-75rem--0e17f2bd90 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.rui-output-chip__u-padding-top-0-25rem--660d2effb8 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rui-output-chip__u-text-align-center--ca6bf63030 {
  text-align: center;
}

.rui-output-chip__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-output-chip__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-output-chip__u-letter-spacing-0-25em--854c830ad6 {
  letter-spacing: 0.25em;
}

.rui-output-chip__u-color-rgb-255-255-255-1--72a4c7cdee {
  color: rgb(255 255 255 / 1);
}

.rui-output-chip__u-opacity-0-7--0c67ca474a {
  opacity: 0.7;
}

.rui-output-chip__u-box-shadow-0-0-0000-0-0-0000-0-1--438b2237b8 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-output-chip__u-box-shadow-0-0-0-0px-fff-0-0-0-c--3daca9af08 {
  box-shadow: 0 0 0 0px #fff, 0 0 0 calc(1px + 0px) rgb(59 130 246 / 0.5), 0 0 #0000;
}

.rui-output-chip__u-style--2e15338efe {
}

.rui-output-chip__u-style--5c915372ed {
}

.rui-output-chip__u-style--e969a1cf72 {
}

.rui-output-chip__u-style--ac04a0392c {
}

.rui-output-chip__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-output-chip__value {
  min-width: 0;
}
