/* Minimal base needed for generated utility output parity (variable initialization only). */
*, ::before, ::after {
  --rui-border-spacing-x: 0;
  --rui-border-spacing-y: 0;
  --rui-translate-x: 0;
  --rui-translate-y: 0;
  --rui-rotate: 0;
  --rui-skew-x: 0;
  --rui-skew-y: 0;
  --rui-scale-x: 1;
  --rui-scale-y: 1;
  --rui-pan-x:  ;
  --rui-pan-y:  ;
  --rui-pinch-zoom:  ;
  --rui-scroll-snap-strictness: proximity;
  --rui-gradient-from-position:  ;
  --rui-gradient-via-position:  ;
  --rui-gradient-to-position:  ;
  --rui-ordinal:  ;
  --rui-slashed-zero:  ;
  --rui-numeric-figure:  ;
  --rui-numeric-spacing:  ;
  --rui-numeric-fraction:  ;
  --rui-ring-inset:  ;
  --rui-ring-offset-width: 0px;
  --rui-ring-offset-color: #fff;
  --rui-ring-color: rgb(59 130 246 / 0.5);
  --rui-ring-offset-shadow: 0 0 #0000;
  --rui-ring-shadow: 0 0 #0000;
  --rui-shadow: 0 0 #0000;
  --rui-shadow-colored: 0 0 #0000;
  --rui-blur:  ;
  --rui-brightness:  ;
  --rui-contrast:  ;
  --rui-grayscale:  ;
  --rui-hue-rotate:  ;
  --rui-invert:  ;
  --rui-saturate:  ;
  --rui-sepia:  ;
  --rui-drop-shadow:  ;
  --rui-backdrop-blur:  ;
  --rui-backdrop-brightness:  ;
  --rui-backdrop-contrast:  ;
  --rui-backdrop-grayscale:  ;
  --rui-backdrop-hue-rotate:  ;
  --rui-backdrop-invert:  ;
  --rui-backdrop-opacity:  ;
  --rui-backdrop-saturate:  ;
  --rui-backdrop-sepia:  ;
  --rui-contain-size:  ;
  --rui-contain-layout:  ;
  --rui-contain-paint:  ;
  --rui-contain-style:  ;
}

::backdrop {
  --rui-border-spacing-x: 0;
  --rui-border-spacing-y: 0;
  --rui-translate-x: 0;
  --rui-translate-y: 0;
  --rui-rotate: 0;
  --rui-skew-x: 0;
  --rui-skew-y: 0;
  --rui-scale-x: 1;
  --rui-scale-y: 1;
  --rui-pan-x:  ;
  --rui-pan-y:  ;
  --rui-pinch-zoom:  ;
  --rui-scroll-snap-strictness: proximity;
  --rui-gradient-from-position:  ;
  --rui-gradient-via-position:  ;
  --rui-gradient-to-position:  ;
  --rui-ordinal:  ;
  --rui-slashed-zero:  ;
  --rui-numeric-figure:  ;
  --rui-numeric-spacing:  ;
  --rui-numeric-fraction:  ;
  --rui-ring-inset:  ;
  --rui-ring-offset-width: 0px;
  --rui-ring-offset-color: #fff;
  --rui-ring-color: rgb(59 130 246 / 0.5);
  --rui-ring-offset-shadow: 0 0 #0000;
  --rui-ring-shadow: 0 0 #0000;
  --rui-shadow: 0 0 #0000;
  --rui-shadow-colored: 0 0 #0000;
  --rui-blur:  ;
  --rui-brightness:  ;
  --rui-contrast:  ;
  --rui-grayscale:  ;
  --rui-hue-rotate:  ;
  --rui-invert:  ;
  --rui-saturate:  ;
  --rui-sepia:  ;
  --rui-drop-shadow:  ;
  --rui-backdrop-blur:  ;
  --rui-backdrop-brightness:  ;
  --rui-backdrop-contrast:  ;
  --rui-backdrop-grayscale:  ;
  --rui-backdrop-hue-rotate:  ;
  --rui-backdrop-invert:  ;
  --rui-backdrop-opacity:  ;
  --rui-backdrop-saturate:  ;
  --rui-backdrop-sepia:  ;
  --rui-contain-size:  ;
  --rui-contain-layout:  ;
  --rui-contain-paint:  ;
  --rui-contain-style:  ;
}
