.rui-select__u-margin-left-auto--fb56d9cff3 {
  margin-left: auto;
}

.rui-select__u-display-inline-flex--52083e7da4 {
  display: inline-flex;
}

.rui-select__u-height-0-75rem--6a60c09e6a {
  height: 0.75rem;
}

.rui-select__u-max-height-16rem--8aee2b07b4 {
  max-height: 16rem;
}

.rui-select__u-width-0-75rem--9cea05671a {
  width: 0.75rem;
}

.rui-select__u-width-100--6da6a3c3f7 {
  width: 100%;
}

.rui-select__u-flex-1-1-0--36e579c0b4 {
  flex: 1 1 0%;
}

.rui-select__u-cursor-not-allowed--29b733e4c1 {
  cursor: not-allowed;
}

.rui-select__u-list-style-type-none--b20d79b23d {
  list-style-type: none;
}

.rui-select__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-select__u-gap-0-75rem--1004c0c395 {
  gap: 0.75rem;
}

.rui-select__u-style--5a2508227c > :not([hidden]) ~ :not([hidden]) {
  --rui-space-y-reverse: 0;
  margin-top: calc(0.375rem * calc(1 - var(--rui-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--rui-space-y-reverse));
}

.rui-select__u-overflow-auto--73fc3fb18c {
  overflow: auto;
}

.rui-select__u-border-radius-0-75rem--a217b4eaa9 {
  border-radius: 0.75rem;
}

.rui-select__u-rui-border-opacity-1--3b7f978155 {
  --rui-border-opacity: 1;
  border-color: rgb(253 164 175 / var(--rui-border-opacity, 1));
}

.rui-select__u-rui-border-opacity-1--6b0439773b {
  --rui-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--rui-border-opacity, 1));
}

.rui-select__u-rui-bg-opacity-1--34d54ab9e5 {
  --rui-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--rui-bg-opacity, 1));
}

.rui-select__u-rui-bg-opacity-1--34d54ab9e5\/70 {
  background-color: rgb(241 245 249 / 0.7);
}

.rui-select__u-padding-left-0-25rem--d8e0e382c6 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.rui-select__u-padding-left-0-75rem--0e17f2bd90 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.rui-select__u-padding-top-0-5rem--03b4dd7f17 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rui-select__u-padding-right-1rem--ba64a7c03b {
  padding-right: 1rem;
}

.rui-select__u-text-align-left--2eba0d65d0 {
  text-align: left;
}

.rui-select__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-select__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-select__u-font-weight-500--2689f39580 {
  font-weight: 500;
}

.rui-select__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-select__u-letter-spacing-0-2em--2da1a7016e {
  letter-spacing: 0.2em;
}

.rui-select__u-rui-text-opacity-1--fa51279820 {
  --rui-text-opacity: 1;
  color: rgb(244 63 94 / var(--rui-text-opacity, 1));
}

.rui-select__u-rui-text-opacity-1--30426eb75c {
  --rui-text-opacity: 1;
  color: rgb(100 116 139 / var(--rui-text-opacity, 1));
}

.rui-select__u-rui-text-opacity-1--2d6fbf48fa {
  --rui-text-opacity: 1;
  color: rgb(71 85 105 / var(--rui-text-opacity, 1));
}

.rui-select__u-rui-text-opacity-1--bcbca7a5be {
  --rui-text-opacity: 1;
  color: rgb(51 65 85 / var(--rui-text-opacity, 1));
}

.rui-select__u-rui-text-opacity-1--f5f136c41d {
  --rui-text-opacity: 1;
  color: rgb(15 23 42 / var(--rui-text-opacity, 1));
}

.rui-select__u-opacity-0-5--0b8c506a05 {
  opacity: 0.5;
}

.rui-select__u-rui-border-opacity-1--6fe003501e:focus-within {
  --rui-border-opacity: 1;
  border-color: rgb(251 113 133 / var(--rui-border-opacity, 1));
}

.rui-select__u-rui-bg-opacity-1--f3653f7e77:hover {
  --rui-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--rui-bg-opacity, 1));
}

.rui-select__u-border-color-rgb-244-63-94-0-6--99963c86d9:is(.dark *) {
  border-color: rgb(244 63 94 / 0.6);
}

.rui-select__u-rui-border-opacity-1--14f9df40e4:is(.dark *) {
  --rui-border-opacity: 1;
  border-color: rgb(100 116 139 / var(--rui-border-opacity, 1));
}

.rui-select__u-background-color-rgb-39-39-42-0---b37a7836e7:is(.dark *) {
  background-color: rgb(39 39 42 / 0.7);
}

.rui-select__u-rui-text-opacity-1--897de47303:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(251 113 133 / var(--rui-text-opacity, 1));
}

.rui-select__u-rui-text-opacity-1--3ddc1cab99:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(244 244 245 / var(--rui-text-opacity, 1));
}

.rui-select__u-rui-text-opacity-1--270353156a:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(228 228 231 / var(--rui-text-opacity, 1));
}

.rui-select__u-rui-text-opacity-1--5b8efd1d78:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(212 212 216 / var(--rui-text-opacity, 1));
}

.rui-select__u-rui-text-opacity-1--6462b86910:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(161 161 170 / var(--rui-text-opacity, 1));
}

.rui-select__u-background-color-rgb-39-39-42-0---2531b09202:hover:is(.dark *) {
  background-color: rgb(39 39 42 / 0.7);
}

.rui-select__highlightBorder {
  border-color: #94a3b8;
}

.rui-select__highlightBorder:is(.dark *) {
  border-color: #64748b;
}

.rui-select__input {
  font-weight: 600;
}

.rui-select__list {
  margin: 0;
  padding: 0rem 1rem 0rem 0.25rem;
  list-style: none;
}

.rui-select__option {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rui-select__option-button {
  border: none;
  background: transparent;
  box-shadow: none;
  font: inherit;
  color: inherit;
  appearance: none;
  cursor: pointer;
}

.rui-select__option-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(148, 163, 184, 0.6);
}

.rui-select__option-button:not(:disabled):not(.rui-select__option-button--selected):hover {
  background-color: rgb(241 245 249 / 1);
}

.rui-select__option-button:not(:disabled):not(.rui-select__option-button--selected):hover:is(.dark *) {
  background-color: rgb(39 39 42 / 0.7);
}

.rui-select__option-label {
  font-weight: inherit;
}

.rui-select__option-description {
  font-weight: inherit;
}

.rui-select__option-check,
.rui-select__option-check-placeholder {
  margin-left: auto;
  width: 0.875rem;
  height: 0.875rem;
  flex: 0 0 0.875rem;
}

.rui-select__option-check-placeholder {
  display: inline-flex;
}

.rui-select__option-button--selected {
  font-weight: 600;
  background-color: rgb(226 232 240 / 0.7);
}

.rui-select__option-button--selected:hover {
  background-color: rgb(226 232 240 / 0.95);
}

.rui-select__option-button--selected:is(.dark *) {
  background-color: rgb(24 24 27 / 0.9);
}

.rui-select__option-button--selected:hover:is(.dark *) {
  background-color: rgb(39 39 42 / 0.9);
}

.rui-select__u-display-block--0214b4b355 {
  display: block;
}

.rui-select__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-select__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-select__u-transition-property-color-backgr--56bf8ae82a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-select__u-rui-shadow-0-0-0-1px-rgba-248-11--633a78b9cd:focus-within {
  --rui-shadow: 0 0 0 1px rgba(248,113,113,0.35);
  --rui-shadow-colored: 0 0 0 1px var(--rui-shadow-color);
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-select__u-flex-1-1-0--36e579c0b4,
.rui-select__option-label,
.rui-select__option-description {
  min-width: 0;
}
