.rui-input-field__u-flex-1-1-0--36e579c0b4 {
  flex: 1 1 0%;
}

.rui-input-field__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-input-field__u-gap-0-75rem--1004c0c395 {
  gap: 0.75rem;
}

.rui-input-field__u-style--5a2508227c > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.375rem * calc(1 - 0));
  margin-bottom: calc(0.375rem * 0);
}

.rui-input-field__u-border-radius-1rem--68f2db624d {
  border-radius: 1rem;
}

.rui-input-field__u-border-style-none--4a5f0ea046 {
  border-style: none;
}

.rui-input-field__u-border-color-rgb-253-164-175-1--3b7f978155 {
  border-color: rgb(253 164 175 / 1);
}

.rui-input-field__u-border-color-rgb-203-213-225-1--85684b007e {
  border-color: rgb(203 213 225 / 1);
}

.rui-input-field__u-background-color-transparent--7f19cdf4c5 {
  background-color: transparent;
}

.rui-input-field__u-background-color-rgb-255-255-255--b0b66d884b {
  background-color: rgb(255 255 255 / 0.7);
}

.rui-input-field__u-padding-left-0-75rem--0e17f2bd90 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.rui-input-field__u-padding-top-0-5rem--03b4dd7f17 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rui-input-field__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-input-field__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-input-field__u-font-weight-500--2689f39580 {
  font-weight: 500;
}

.rui-input-field__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-input-field__u-letter-spacing-0-2em--2da1a7016e {
  letter-spacing: 0.2em;
}

.rui-input-field__u-letter-spacing-0-025em--8baf13a3e9 {
  letter-spacing: 0.025em;
}

.rui-input-field__u-color-rgb-244-63-94-1--fa51279820 {
  color: rgb(244 63 94 / 1);
}

.rui-input-field__u-color-rgb-148-163-184-1--8d44cef396 {
  color: rgb(148 163 184 / 1);
}

.rui-input-field__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-input-field__u-color-rgb-15-23-42-1--f5f136c41d {
  color: rgb(15 23 42 / 1);
}

.rui-input-field__u-opacity-0-6--f2868c227f {
  opacity: 0.6;
}

.rui-input-field__u-color-rgb-148-163-184-1--02904d54b5::-moz-placeholder {
  color: rgb(148 163 184 / 1);
}

.rui-input-field__u-color-rgb-148-163-184-1--02904d54b5::placeholder {
  color: rgb(148 163 184 / 1);
}

.rui-input-field__u-border-color-rgb-251-113-133-1--6fe003501e:focus-within {
  border-color: rgb(251 113 133 / 1);
}

.rui-input-field__u-border-color-rgb-148-163-184-1--0b0890deff:focus-within {
  border-color: rgb(148 163 184 / 1);
}

.rui-input-field__u-outline-2px-solid-transparent--55d048ebfb:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rui-input-field__u-cursor-not-allowed--5f533b3a7d:disabled {
  cursor: not-allowed;
}

.rui-input-field__u-border-color-rgb-244-63-94-0-6--99963c86d9:is(.dark *) {
  border-color: rgb(244 63 94 / 0.6);
}

.rui-input-field__u-border-color-rgb-63-63-70-1--4e12bcf58d:is(.dark *) {
  border-color: rgb(63 63 70 / 1);
}

.rui-input-field__u-border-color-rgb-63-63-70-1--4e12bcf58d\/60:is(.dark *) {
  border-color: rgb(63 63 70 / 0.6);
}

.rui-input-field__u-border-color-rgb-63-63-70-1--4e12bcf58d\/70:is(.dark *) {
  border-color: rgb(63 63 70 / 0.7);
}

.rui-input-field__u-background-color-rgb-24-24-27-0---5cd2915a74:is(.dark *) {
  background-color: rgb(24 24 27 / 0.7);
}

.rui-input-field__u-color-rgb-251-113-133-1--897de47303:is(.dark *) {
  color: rgb(251 113 133 / 1);
}

.rui-input-field__u-color-rgb-244-244-245-1--3ddc1cab99:is(.dark *) {
  color: rgb(244 244 245 / 1);
}

.rui-input-field__u-color-rgb-161-161-170-1--6462b86910:is(.dark *) {
  color: rgb(161 161 170 / 1);
}

.rui-input-field__u-color-rgb-113-113-122-1--28db7d8770:is(.dark *) {
  color: rgb(113 113 122 / 1);
}

.rui-input-field__u-color-rgb-113-113-122-1--8a97e48efc:is(.dark *)::-moz-placeholder {
  color: rgb(113 113 122 / 1);
}

.rui-input-field__u-color-rgb-113-113-122-1--8a97e48efc:is(.dark *)::placeholder {
  color: rgb(113 113 122 / 1);
}

.rui-input-field__u-border-color-rgb-100-116-139-1--7e4150ed84:focus-within:is(.dark *) {
  border-color: rgb(100 116 139 / 1);
}

.rui-input-field__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-input-field__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-input-field__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-input-field__u-transition-property-color-backgr--56bf8ae82a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-input-field__u-box-shadow-0-0-0000-0-0-0000-0-0--e431ff085e:focus-within {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 0 1px rgba(148,163,184,0.45);
}

.rui-input-field__u-box-shadow-0-0-0000-0-0-0000-0-0--633a78b9cd:focus-within {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 0 1px rgba(248,113,113,0.35);
}

.rui-input-field__shell {
  border-style: solid;
  background-color: rgb(255 255 255 / 1);
}

[data-theme="dark"] .rui-input-field__shell {
  background-color: rgb(24 24 27 / 0.7);
}

.rui-input-field__shell,
.rui-input-field__u-flex-1-1-0--36e579c0b4 {
  min-width: 0;
}
