.rui-date-picker__u-pointer-events-none--a4326536b8 {
  pointer-events: none;
}

.rui-date-picker__u-height-2-5rem--426b8b7518 {
  height: 2.5rem;
}

.rui-date-picker__u-height-1rem--11e59c6d5f {
  height: 1rem;
}

.rui-date-picker__u-height-1rem--11e59c6d5f8 {
  height: 12rem;
}

.rui-date-picker__u-height-2rem--ed8a5df7b2 {
  height: 2rem;
}

.rui-date-picker__u-height-2-25rem--e7a768f922 {
  height: 2.25rem;
}

.rui-date-picker__u-width-1rem--dc7972ebf3 {
  width: 1rem;
}

.rui-date-picker__u-width-2rem--2bbcfc3b51 {
  width: 2rem;
}

.rui-date-picker__u-width-100--6da6a3c3f7 {
  width: 100%;
}

.rui-date-picker__u-min-width-0px--7e0b7cdf1a {
  min-width: 0px;
}

.rui-date-picker__u-grid-template-columns-repeat-3-m--be2e831be5 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.rui-date-picker__u-grid-template-columns-repeat-7-m--67d5ae4238 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.rui-date-picker__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-date-picker__u-justify-content-space-between--8ef2268efb {
  justify-content: space-between;
}

.rui-date-picker__u-gap-0-25rem--44ee8ba0a4 {
  gap: 0.25rem;
}

.rui-date-picker__u-gap-0-5rem--77a2a20e90 {
  gap: 0.5rem;
}

.rui-date-picker__u-style--5a2508227c > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.375rem * calc(1 - 0));
  margin-bottom: calc(0.375rem * 0);
}

.rui-date-picker__u-style--6ed543e2fb > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.75rem * calc(1 - 0));
  margin-bottom: calc(0.75rem * 0);
}

.rui-date-picker__u-border-radius-0-75rem--a217b4eaa9 {
  border-radius: 0.75rem;
}

.rui-date-picker__u-border-color-rgb-253-164-175-1--3b7f978155 {
  border-color: rgb(253 164 175 / 1);
}

.rui-date-picker__u-border-color-rgb-226-232-240-1--52f4da2ca5 {
  border-color: rgb(226 232 240 / 1);
}

.rui-date-picker__u-border-color-rgb-148-163-184-1--6b0439773b {
  border-color: rgb(148 163 184 / 1);
}

.rui-date-picker__u-background-color-rgb-241-245-249--34d54ab9e5 {
  background-color: rgb(241 245 249 / 1);
}

.rui-date-picker__u-background-color-rgb-241-245-249--34d54ab9e5\/70 {
  background-color: rgb(241 245 249 / 0.7);
}

.rui-date-picker__u-background-color-rgb-226-232-240--5793d2cb69 {
  background-color: rgb(226 232 240 / 1);
}

.rui-date-picker__u-background-color-rgb-255-255-255--5e10cdb8f1 {
  background-color: rgb(255 255 255 / 1);
}

.rui-date-picker__u-background-color-rgb-255-255-255--5e10cdb8f1\/60 {
  background-color: rgb(255 255 255 / 0.6);
}

.rui-date-picker__u-background-color-rgb-255-255-255--5e10cdb8f1\/70 {
  background-color: rgb(255 255 255 / 0.7);
}

.rui-date-picker__u-background-color-rgb-255-255-255--5e10cdb8f1\/80 {
  background-color: rgb(255 255 255 / 0.8);
}

.rui-date-picker__u-background-color-rgb-255-255-255--5e10cdb8f1\/90 {
  background-color: rgb(255 255 255 / 0.9);
}

.rui-date-picker__u-background-color-rgb-255-255-255--5e10cdb8f1\/95 {
  background-color: rgb(255 255 255 / 0.95);
}

.rui-date-picker__u-padding-0px--8a539c7fe2 {
  padding: 0px;
}

.rui-date-picker__u-padding-0-75rem--eb6e8b881a {
  padding: 0.75rem;
}

.rui-date-picker__u-padding-left-0-5rem--d5eab218aa {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.rui-date-picker__u-padding-left-0-5rem--d5eab218aa\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.rui-date-picker__u-padding-top-0-25rem--660d2effb8 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rui-date-picker__u-text-align-center--ca6bf63030 {
  text-align: center;
}

.rui-date-picker__u-font-size-11px--d058ca6de6 {
  font-size: 11px;
}

.rui-date-picker__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-date-picker__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-date-picker__u-font-weight-500--2689f39580 {
  font-weight: 500;
}

.rui-date-picker__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-date-picker__u-letter-spacing-0-2em--2da1a7016e {
  letter-spacing: 0.2em;
}

.rui-date-picker__u-color-rgb-244-63-94-1--fa51279820 {
  color: rgb(244 63 94 / 1);
}

.rui-date-picker__u-color-rgb-148-163-184-1--8d44cef396 {
  color: rgb(148 163 184 / 1);
}

.rui-date-picker__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-date-picker__u-color-rgb-71-85-105-1--2d6fbf48fa {
  color: rgb(71 85 105 / 1);
}

.rui-date-picker__u-color-rgb-51-65-85-1--bcbca7a5be {
  color: rgb(51 65 85 / 1);
}

.rui-date-picker__u-color-rgb-15-23-42-1--f5f136c41d {
  color: rgb(15 23 42 / 1);
}

.rui-date-picker__u-opacity-0-3--78e6d0ebb9 {
  opacity: 0.3;
}

.rui-date-picker__u-box-shadow-0-0-0000-0-0-0000-ins--eca5782b24 {
  box-shadow: 0 0 #0000, 0 0 #0000, inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.rui-date-picker__u-box-shadow-0-0-0000-0-0-0000-0-1--438b2237b8 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-date-picker__u-box-shadow-0-0-0-0px-fff-0-0-0-c--3daca9af08 {
  box-shadow: 0 0 0 0px #fff, 0 0 0 calc(1px + 0px) rgb(59 130 246 / 0.5), 0 0 #0000;
}

.rui-date-picker__u-style--b32a66250a {
}

.rui-date-picker__u-border-color-rgb-251-113-133-1--6fe003501e:focus-within {
  border-color: rgb(251 113 133 / 1);
}

.rui-date-picker__u-transform-translate-0-1px-rotate--2464a58ddc:hover {
  transform: translate(0, -1px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.rui-date-picker__u-background-color-rgb-241-245-249--f3653f7e77:hover {
  background-color: rgb(241 245 249 / 1);
}

.rui-date-picker__u-text-decoration-line-underline--f673f4a7d0:hover {
  text-decoration-line: underline;
}

.rui-date-picker__u-box-shadow-0-0-0000-0-0-0000-0-4--9e85ac05ca:hover {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.rui-date-picker__u-outline-2px-solid-transparent--f10f771f87:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rui-date-picker__u-box-shadow-0-0-0-0px-fff-0-0-0-c--793c80e97f:focus-visible {
  box-shadow: 0 0 0 0px #fff, 0 0 0 calc(2px + 0px) rgb(59 130 246 / 0.5), 0 0 #0000;
}

.rui-date-picker__u-style--53929537d6:focus-visible {
}

.rui-date-picker__u-border-color-rgb-244-63-94-0-6--99963c86d9:is(.dark *) {
  border-color: rgb(244 63 94 / 0.6);
}

.rui-date-picker__u-border-color-rgb-100-116-139-1--14f9df40e4:is(.dark *) {
  border-color: rgb(100 116 139 / 1);
}

.rui-date-picker__u-border-color-rgb-63-63-70-1--4e12bcf58d:is(.dark *) {
  border-color: rgb(63 63 70 / 1);
}

.rui-date-picker__u-border-color-rgb-63-63-70-1--4e12bcf58d\/60:is(.dark *) {
  border-color: rgb(63 63 70 / 0.6);
}

.rui-date-picker__u-border-color-rgb-63-63-70-1--4e12bcf58d\/70:is(.dark *) {
  border-color: rgb(63 63 70 / 0.7);
}

.rui-date-picker__u-background-color-rgb-39-39-42-1--74e56634bd:is(.dark *) {
  background-color: rgb(39 39 42 / 1);
}

.rui-date-picker__u-background-color-rgb-39-39-42-1--74e56634bd\/60:is(.dark *) {
  background-color: rgb(39 39 42 / 0.6);
}

.rui-date-picker__u-background-color-rgb-39-39-42-0---b37a7836e7:is(.dark *) {
  background-color: rgb(39 39 42 / 0.7);
}

.rui-date-picker__u-background-color-rgb-24-24-27-1--6319578a41:is(.dark *) {
  background-color: rgb(24 24 27 / 1);
}

.rui-date-picker__u-background-color-rgb-24-24-27-1--6319578a41\/40:is(.dark *) {
  background-color: rgb(24 24 27 / 0.4);
}

.rui-date-picker__u-background-color-rgb-24-24-27-1--6319578a41\/50:is(.dark *) {
  background-color: rgb(24 24 27 / 0.5);
}

.rui-date-picker__u-background-color-rgb-24-24-27-1--6319578a41\/60:is(.dark *) {
  background-color: rgb(24 24 27 / 0.6);
}

.rui-date-picker__u-background-color-rgb-24-24-27-1--6319578a41\/70:is(.dark *) {
  background-color: rgb(24 24 27 / 0.7);
}

.rui-date-picker__u-background-color-rgb-24-24-27-1--6319578a41\/80:is(.dark *) {
  background-color: rgb(24 24 27 / 0.8);
}

.rui-date-picker__u-background-color-rgb-24-24-27-1--6319578a41\/95:is(.dark *) {
  background-color: rgb(24 24 27 / 0.95);
}

.rui-date-picker__u-color-rgb-251-113-133-1--897de47303:is(.dark *) {
  color: rgb(251 113 133 / 1);
}

.rui-date-picker__u-color-rgb-244-244-245-1--3ddc1cab99:is(.dark *) {
  color: rgb(244 244 245 / 1);
}

.rui-date-picker__u-color-rgb-228-228-231-1--270353156a:is(.dark *) {
  color: rgb(228 228 231 / 1);
}

.rui-date-picker__u-color-rgb-212-212-216-1--5b8efd1d78:is(.dark *) {
  color: rgb(212 212 216 / 1);
}

.rui-date-picker__u-color-rgb-161-161-170-1--6462b86910:is(.dark *) {
  color: rgb(161 161 170 / 1);
}

.rui-date-picker__u-color-rgb-113-113-122-1--28db7d8770:is(.dark *) {
  color: rgb(113 113 122 / 1);
}

.rui-date-picker__u-style--afa7252096:is(.dark *) {
}

.rui-date-picker__u-background-color-rgb-63-63-70-0---4a738ecef3:hover:is(.dark *) {
  background-color: rgb(63 63 70 / 0.8);
}

.rui-date-picker__u-background-color-rgb-39-39-42-1--1a5d9aa0b0:hover:is(.dark *) {
  background-color: rgb(39 39 42 / 1);
}

.rui-date-picker__u-background-color-rgb-39-39-42-1--1a5d9aa0b0\/60:hover:is(.dark *) {
  background-color: rgb(39 39 42 / 0.6);
}

.rui-date-picker__u-background-color-rgb-39-39-42-1--1a5d9aa0b0\/70:hover:is(.dark *) {
  background-color: rgb(39 39 42 / 0.7);
}

.rui-date-picker__highlightBorder {
  border-color: #94a3b8;
  box-shadow: 0 0 0 1px rgba(148, 163, 184, 0.45);
}

.rui-date-picker__highlightBorder:is(.dark *) {
  border-color: #64748b;
}

.rui-date-picker__header-title {
  font-weight: 600;
  color: rgb(51 65 85 / 1);
}

[data-theme="dark"] .rui-date-picker__header-title {
  color: var(--rui-color-text-strong, #f4f4f5);
}

.rui-date-picker__header-title-button {
  border: none;
  background: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  appearance: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-date-picker__header-title-button:hover {
  background-color: rgba(148, 163, 184, 0.12);
}

[data-theme="dark"] .rui-date-picker__header-title-button:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.rui-date-picker__day {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  background: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(51 65 85 / 1);
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  appearance: none;
}

[data-theme="dark"] .rui-date-picker__day {
  color: rgb(228 228 231 / 1);
}

.rui-date-picker__day:hover:not(.is-empty):not(.is-selected) {
  background-color: rgba(148, 163, 184, 0.12);
}

[data-theme="dark"] .rui-date-picker__day:hover:not(.is-empty):not(.is-selected) {
  background-color: rgba(255, 255, 255, 0.06);
}

.rui-date-picker__day.is-selected {
  background-color: rgba(148, 163, 184, 0.22);
  border-color: rgba(148, 163, 184, 0.55);
  color: rgb(15 23 42 / 1);
}

[data-theme="dark"] .rui-date-picker__day.is-selected {
  background-color: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.18);
  color: rgb(244 244 245 / 1);
}

.rui-date-picker__day:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(148, 163, 184, 0.6);
}

.rui-date-picker__day.is-empty {
  opacity: 0;
  pointer-events: none;
}

.rui-date-picker__tile {
  height: 2.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgba(226, 232, 240, 1);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(51 65 85 / 1);
  cursor: pointer;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  appearance: none;
}

.rui-date-picker__tile:hover:not(.is-selected) {
  background-color: rgb(248 250 252 / 1);
  border-color: rgba(203, 213, 225, 1);
}

.rui-date-picker__tile.is-selected {
  background-color: rgba(148, 163, 184, 0.22);
  border-color: rgba(148, 163, 184, 0.55);
  color: rgb(15 23 42 / 1);
}

.rui-date-picker__tile:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(148, 163, 184, 0.6);
}

[data-theme="dark"] .rui-date-picker__tile {
  background-color: rgba(24, 24, 27, 0.7);
  border-color: rgba(63, 63, 70, 0.8);
  color: rgb(244 244 245 / 1);
  box-shadow: none;
}

[data-theme="dark"] .rui-date-picker__tile:hover:not(.is-selected) {
  background-color: rgba(39, 39, 42, 0.7);
  border-color: rgba(82, 82, 91, 0.9);
}

[data-theme="dark"] .rui-date-picker__tile.is-selected {
  background-color: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.18);
  color: rgb(244 244 245 / 1);
}

.rui-date-picker__u-position-relative--d89972fe17 {
  position: relative;
}

.rui-date-picker__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-date-picker__u-display-grid--f3c543ad5f {
  display: grid;
}

.rui-date-picker__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-date-picker__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-date-picker__u-transition-property-color-backgr--56bf8ae82a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-date-picker__u-box-shadow-0-0-0000-0-0-0000-0-0--633a78b9cd:focus-within {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 0 1px rgba(248,113,113,0.35);
}
