.rui-stacked-list {
  border: 1px solid rgb(226 232 240 / 1);
  border-radius: 1.5rem;
  background-color: rgb(255 255 255 / 0.8);
  box-shadow: 0 20px 25px -5px rgb(226 232 240 / 0.4), 0 8px 10px -6px rgb(226 232 240 / 0.4);
}

.rui-stacked-list:is([data-theme="dark"] *) {
  border-color: rgb(39 39 42 / 1);
  background-color: rgb(24 24 27 / 0.8);
  box-shadow: 0 0 #0000;
}

.rui-stacked-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rui-stacked-list__item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 1.25rem;
}

.rui-stacked-list__item:not(:first-child) {
  border-top: 1px solid rgb(226 232 240 / 0.6);
}

.rui-stacked-list__item:not(:first-child):is([data-theme="dark"] *) {
  border-top-color: rgb(39 39 42 / 0.6);
}

.rui-stacked-list__item--dense {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rui-stacked-list__icon {
  align-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: rgb(241 245 249 / 1);
  padding: 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  color: rgb(71 85 105 / 1);
}

.rui-stacked-list__icon:is([data-theme="dark"] *) {
  background-color: rgb(24 24 27 / 0.5);
  color: rgb(228 228 231 / 1);
}

.rui-stacked-list__icon svg {
  width: 1.25rem;
  height: 1.25rem;
}

.rui-stacked-list__content {
  flex: 1 1 0%;
  min-width: 0;
}

.rui-stacked-list__title {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(15 23 42 / 1);
}

.rui-stacked-list__title:is([data-theme="dark"] *) {
  color: rgb(244 244 245 / 1);
}

.rui-stacked-list__description {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(100 116 139 / 1);
}

.rui-stacked-list__description:is([data-theme="dark"] *) {
  color: rgb(161 161 170 / 1);
}

.rui-stacked-list__meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
  text-align: right;
}

.rui-stacked-list__meta-text {
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: rgb(148 163 184 / 1);
}

.rui-stacked-list__meta-text:is([data-theme="dark"] *) {
  color: rgb(113 113 122 / 1);
}
