.rui-stacked-list__u-margin-top-0-125rem--15e1b1f444 {
  margin-top: 0.125rem;
}

.rui-stacked-list__u-flex-1-1-0--36e579c0b4 {
  flex: 1 1 0%;
}

.rui-stacked-list__u-flex-direction-column--8dddea0773 {
  flex-direction: column;
}

.rui-stacked-list__u-align-items-flex-start--60541e1e26 {
  align-items: flex-start;
}

.rui-stacked-list__u-align-items-flex-end--6f27f4f79e {
  align-items: flex-end;
}

.rui-stacked-list__u-gap-0-25rem--44ee8ba0a4 {
  gap: 0.25rem;
}

.rui-stacked-list__u-gap-1rem--0c3bc98565 {
  gap: 1rem;
}

.rui-stacked-list__u-style--fa6acbf81d > :not([hidden]) ~ :not([hidden]) {
  --rui-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--rui-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--rui-divide-y-reverse));
}

.rui-stacked-list__u-style--dd26ed438a > :not([hidden]) ~ :not([hidden]) {
  --rui-divide-opacity: 1;
  border-color: rgb(241 245 249 / var(--rui-divide-opacity, 1));
}

.rui-stacked-list__u-border-radius-1rem--68f2db624d {
  border-radius: 1rem;
}

.rui-stacked-list__u-border-radius-1-5rem--ea189a088a {
  border-radius: 1.5rem;
}

.rui-stacked-list__u-rui-border-opacity-1--52f4da2ca5 {
  --rui-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--rui-border-opacity, 1));
}

.rui-stacked-list__u-rui-bg-opacity-1--34d54ab9e5 {
  --rui-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--rui-bg-opacity, 1));
}

.rui-stacked-list__u-rui-bg-opacity-1--34d54ab9e5\/70 {
  background-color: rgb(241 245 249 / 0.7);
}

.rui-stacked-list__u-background-color-rgb-255-255-255--845918557e {
  background-color: rgb(255 255 255 / 0.8);
}

.rui-stacked-list__u-padding-0-5rem--7660b45090 {
  padding: 0.5rem;
}

.rui-stacked-list__u-padding-left-1-25rem--d139dd09e3 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.rui-stacked-list__u-padding-top-0-75rem--1b2d54a3fd {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.rui-stacked-list__u-padding-top-1rem--cb11fec3bb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rui-stacked-list__u-text-align-right--308fc069e4 {
  text-align: right;
}

.rui-stacked-list__margin-0 {
  margin: 0px;
}

.rui-stacked-list__padding-0 {
  padding: 0px;
}

.rui-stacked-list__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-stacked-list__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-stacked-list__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-stacked-list__u-letter-spacing-0-025em--8baf13a3e9 {
  letter-spacing: 0.025em;
}

.rui-stacked-list__u-rui-text-opacity-1--8d44cef396 {
  --rui-text-opacity: 1;
  color: rgb(148 163 184 / var(--rui-text-opacity, 1));
}

.rui-stacked-list__u-rui-text-opacity-1--30426eb75c {
  --rui-text-opacity: 1;
  color: rgb(100 116 139 / var(--rui-text-opacity, 1));
}

.rui-stacked-list__u-rui-text-opacity-1--2d6fbf48fa {
  --rui-text-opacity: 1;
  color: rgb(71 85 105 / var(--rui-text-opacity, 1));
}

.rui-stacked-list__u-rui-text-opacity-1--f5f136c41d {
  --rui-text-opacity: 1;
  color: rgb(15 23 42 / var(--rui-text-opacity, 1));
}

.rui-stacked-list__u-rui-shadow-0-20px-25px-5px-rgb-0--a739868a85 {
  --rui-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --rui-shadow-colored: 0 20px 25px -5px var(--rui-shadow-color), 0 8px 10px -6px var(--rui-shadow-color);
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-stacked-list__u-rui-shadow-color-rgb-226-232-240--766950d8cd {
  --rui-shadow-color: rgb(226 232 240 / 0.4);
  --rui-shadow: var(--rui-shadow-colored);
}

.rui-stacked-list__u-rui-divide-opacity-1--bce5b0aaa7:is(.dark *) > :not([hidden]) ~ :not([hidden]) {
  --rui-divide-opacity: 1;
  border-color: rgb(39 39 42 / var(--rui-divide-opacity, 1));
}

.rui-stacked-list__u-rui-border-opacity-1--139f099dfa:is(.dark *) {
  --rui-border-opacity: 1;
  border-color: rgb(39 39 42 / var(--rui-border-opacity, 1));
}

.rui-stacked-list__u-rui-border-opacity-1--139f099dfa\/60:is(.dark *) {
  border-color: rgb(39 39 42 / 0.6);
}

.rui-stacked-list__u-background-color-rgb-24-24-27-0---d4ff65a462:is(.dark *) {
  background-color: rgb(24 24 27 / 0.5);
}

.rui-stacked-list__u-background-color-rgb-24-24-27-0---67553a7cb3:is(.dark *) {
  background-color: rgb(24 24 27 / 0.8);
}

.rui-stacked-list__u-rui-text-opacity-1--3ddc1cab99:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(244 244 245 / var(--rui-text-opacity, 1));
}

.rui-stacked-list__u-rui-text-opacity-1--270353156a:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(228 228 231 / var(--rui-text-opacity, 1));
}

.rui-stacked-list__u-rui-text-opacity-1--6462b86910:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(161 161 170 / var(--rui-text-opacity, 1));
}

.rui-stacked-list__u-rui-text-opacity-1--28db7d8770:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(113 113 122 / var(--rui-text-opacity, 1));
}

.rui-stacked-list__u-rui-shadow-0-0-0000--2ac3c2fc68:is(.dark *) {
  --rui-shadow: 0 0 #0000;
  --rui-shadow-colored: 0 0 #0000;
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-stacked-list__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-stacked-list__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-stacked-list__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}
