.rui-number-input {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  text-align: center;
}

.rui-number-input > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.375rem;
  margin-bottom: 0px;
}

.rui-number-input__label {
  font-size: calc(0.75rem * var(--rui-number-input-scale, 1));
  line-height: calc(1rem * var(--rui-number-input-scale, 1));
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(100 116 139 / 1);
}

.rui-number-input__label:is([data-theme="dark"] *) {
  color: rgb(161 161 170 / 1);
}

.rui-number-input__shell {
  display: flex;
  align-items: center;
  gap: calc(0.75rem * var(--rui-number-input-scale, 1));
  border-radius: calc(1rem * var(--rui-number-input-scale, 1));
  border-width: 1px;
  border-color: rgb(203 213 225 / 1);
  background-color: rgb(255 255 255 / 0.8);
  padding: calc(0.5rem * var(--rui-number-input-scale, 1))
    calc(0.75rem * var(--rui-number-input-scale, 1));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05),
    0 0 0 1px rgb(203 213 225 / 0.95);
  min-width: 0;
  width: max-content;
  max-width: 100%;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-number-input__shell--disabled {
  opacity: 0.6;
}

.rui-number-input__shell:focus-within {
  border-color: rgb(148 163 184 / 1);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 0 1px rgba(148, 163, 184, 0.45);
}

.rui-number-input__shell--error {
  border-color: rgb(253 164 175 / 1);
}

.rui-number-input__shell--error:focus-within {
  border-color: rgb(251 113 133 / 1);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 0 1px rgba(248, 113, 113, 0.35);
}

.rui-number-input__shell:is([data-theme="dark"] *) {
  border-color: rgb(63 63 70 / 1);
  background-color: rgb(24 24 27 / 0.7);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-number-input__shell:focus-within:is([data-theme="dark"] *) {
  border-color: rgb(100 116 139 / 1);
}

.rui-number-input__shell--error:is([data-theme="dark"] *) {
  border-color: rgb(244 63 94 / 0.6);
}

.rui-number-input__shell:is([data-theme="dark"] *) {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-number-input__stepper {
  display: flex;
  flex-direction: column;
  gap: calc(0.25rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__step-button.rui-button {
  display: grid;
  place-items: center;
  padding: 0;
  min-width: calc(1.75rem * var(--rui-number-input-scale, 1));
  width: calc(1.75rem * var(--rui-number-input-scale, 1));
  height: calc(1.75rem * var(--rui-number-input-scale, 1));
  border-radius: calc(0.75rem * var(--rui-number-input-scale, 1));
  border-width: 1px;
  border-color: rgb(226 232 240 / 1);
  background-color: rgb(255 255 255 / 1);
  font-size: calc(0.75rem * var(--rui-number-input-scale, 1));
  line-height: calc(1rem * var(--rui-number-input-scale, 1));
  font-weight: 600;
  color: rgb(51 65 85 / 1);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-number-input__step-button.rui-button:not(:disabled):hover {
  transform: translate(0, -1px);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.rui-number-input__step-button.rui-button:disabled {
  opacity: 0.5;
}

.rui-number-input__step-button.rui-button:is([data-theme="dark"] *) {
  border-color: rgb(63 63 70 / 1);
  background-color: rgb(24 24 27 / 1);
  color: rgb(244 244 245 / 1);
}

.rui-number-input__input {
  flex: 0 0 auto;
  min-width: 0;
  width: calc(var(--rui-number-input-value-ch, 1) * 1ch);
  border-style: none;
  background-color: transparent;
  font-size: calc(1.5rem * var(--rui-number-input-scale, 1));
  line-height: calc(2rem * var(--rui-number-input-scale, 1));
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  color: rgb(15 23 42 / 1);
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.rui-number-input__input::placeholder {
  color: rgb(148 163 184 / 1);
}

.rui-number-input__input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rui-number-input__input:is([data-theme="dark"] *) {
  color: rgb(244 244 245 / 1);
}

.rui-number-input__input:is([data-theme="dark"] *)::placeholder {
  color: rgb(113 113 122 / 1);
}

.rui-number-input__input::-webkit-inner-spin-button,
.rui-number-input__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.rui-number-input__suffix {
  font-size: calc(0.875rem * var(--rui-number-input-scale, 1));
  line-height: calc(1.25rem * var(--rui-number-input-scale, 1));
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: rgb(100 116 139 / 1);
}

.rui-number-input__suffix:is([data-theme="dark"] *) {
  color: rgb(212 212 216 / 1);
}

.rui-number-input__helper {
  align-self: stretch;
  width: 100%;
  max-width: 100%;
  font-size: calc(0.75rem * var(--rui-number-input-scale, 1));
  line-height: calc(1rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__helper--description {
  color: rgb(100 116 139 / 1);
}

.rui-number-input__helper--description:is([data-theme="dark"] *) {
  color: rgb(161 161 170 / 1);
}

.rui-number-input__helper--error {
  font-weight: 500;
  color: rgb(244 63 94 / 1);
}

.rui-number-input__helper--error:is([data-theme="dark"] *) {
  color: rgb(251 113 133 / 1);
}
