.rui-number-input__step-button.rui-button {
  display: grid;
  padding: 0;
  min-width: calc(1.75rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-width-1-75rem--cc46d0fa27 {
  width: calc(1.75rem * var(--rui-number-input-scale, 1));
  height: calc(1.75rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-flex-1-1-0--36e579c0b4 {
  flex: 0 0 auto;
  min-width: 0;
  width: calc(var(--rui-number-input-value-ch, 1) * 1ch);
}

.rui-number-input__u-webkit-appearance-none--eeea43674c {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.rui-number-input__u-flex-direction-column--8dddea0773 {
  flex-direction: column;
}

.rui-number-input__u-place-items-center--67d66567ca {
  place-items: center;
}

.rui-number-input__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-number-input__u-gap-0-25rem--44ee8ba0a4 {
  gap: calc(0.25rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-gap-0-75rem--1004c0c395 {
  gap: calc(0.75rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-style--5a2508227c {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  text-align: center;
}

.rui-number-input__u-style--5a2508227c > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.375rem * calc(1 - 0));
  margin-bottom: calc(0.375rem * 0);
}

.rui-number-input__u-border-radius-1rem--68f2db624d {
  border-radius: calc(1rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-border-radius-0-75rem--a217b4eaa9 {
  border-radius: calc(0.75rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-border-style-none--4a5f0ea046 {
  border-style: none;
}

.rui-number-input__u-border-color-rgb-253-164-175-1--3b7f978155 {
  border-color: rgb(253 164 175 / 1);
}

.rui-number-input__u-border-color-rgb-226-232-240-1--52f4da2ca5 {
  border-color: rgb(226 232 240 / 1);
}

.rui-number-input__u-border-color-rgb-203-213-225-1--85684b007e {
  border-color: rgb(203 213 225 / 1);
}

.rui-number-input__u-background-color-transparent--7f19cdf4c5 {
  background-color: transparent;
}

.rui-number-input__u-background-color-rgb-255-255-255--5e10cdb8f1 {
  background-color: rgb(255 255 255 / 1);
}

.rui-number-input__u-background-color-rgb-255-255-255--5e10cdb8f1\/60 {
  background-color: rgb(255 255 255 / 0.6);
}

.rui-number-input__u-background-color-rgb-255-255-255--5e10cdb8f1\/70 {
  background-color: rgb(255 255 255 / 0.7);
}

.rui-number-input__u-background-color-rgb-255-255-255--845918557e {
  background-color: rgb(255 255 255 / 0.8);
}

.rui-number-input__u-background-color-rgb-255-255-255--5e10cdb8f1\/90 {
  background-color: rgb(255 255 255 / 0.9);
}

.rui-number-input__u-background-color-rgb-255-255-255--5e10cdb8f1\/95 {
  background-color: rgb(255 255 255 / 0.95);
}

.rui-number-input__u-padding-left-0-75rem--0e17f2bd90 {
  padding-left: calc(0.75rem * var(--rui-number-input-scale, 1));
  padding-right: calc(0.75rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-padding-top-0-5rem--03b4dd7f17 {
  padding-top: calc(0.5rem * var(--rui-number-input-scale, 1));
  padding-bottom: calc(0.5rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-font-size-1-5rem--3febee094e {
  font-size: calc(1.5rem * var(--rui-number-input-scale, 1));
  line-height: calc(2rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-font-size-0-875rem--fc7473ca09 {
  font-size: calc(0.875rem * var(--rui-number-input-scale, 1));
  line-height: calc(1.25rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-font-size-0-75rem--359090c2d5 {
  font-size: calc(0.75rem * var(--rui-number-input-scale, 1));
  line-height: calc(1rem * var(--rui-number-input-scale, 1));
}

.rui-number-input__u-font-weight-500--2689f39580 {
  font-weight: 500;
}

.rui-number-input__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-number-input__u-font-variant-numeric-tabular-num--3032cae0ba {
  font-variant-numeric: tabular-nums;
}

.rui-number-input__u-letter-spacing-0-2em--2da1a7016e {
  letter-spacing: 0.2em;
}

.rui-number-input__u-letter-spacing-0-025em--8baf13a3e9 {
  letter-spacing: 0.025em;
}

.rui-number-input__u-color-rgb-244-63-94-1--fa51279820 {
  color: rgb(244 63 94 / 1);
}

.rui-number-input__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-number-input__u-color-rgb-51-65-85-1--bcbca7a5be {
  color: rgb(51 65 85 / 1);
}

.rui-number-input__u-color-rgb-15-23-42-1--f5f136c41d {
  color: rgb(15 23 42 / 1);
}

.rui-number-input__u-opacity-0-6--f2868c227f {
  opacity: 0.6;
}

.rui-number-input__u-box-shadow-0-0-0000-0-0-0000-0-1--438b2237b8 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-number-input__u-webkit-appearance-textfield--131dee0347 {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.rui-number-input__u-color-rgb-148-163-184-1--02904d54b5::-moz-placeholder {
  color: rgb(148 163 184 / 1);
}

.rui-number-input__u-color-rgb-148-163-184-1--02904d54b5::placeholder {
  color: rgb(148 163 184 / 1);
}

.rui-number-input__u-border-color-rgb-251-113-133-1--6fe003501e:focus-within {
  border-color: rgb(251 113 133 / 1);
}

.rui-number-input__u-border-color-rgb-148-163-184-1--0b0890deff:focus-within {
  border-color: rgb(148 163 184 / 1);
}

.rui-number-input__u-transform-translate-0-1px-rotate--2464a58ddc:hover {
  transform: translate(0, -1px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.rui-number-input__u-box-shadow-0-0-0000-0-0-0000-0-4--9e85ac05ca:hover {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.rui-number-input__u-outline-2px-solid-transparent--55d048ebfb:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rui-number-input__u-opacity-0-5--b29d8adbad:disabled {
  opacity: 0.5;
}

.rui-number-input__u-border-color-rgb-244-63-94-0-6--99963c86d9:is(.dark *) {
  border-color: rgb(244 63 94 / 0.6);
}

.rui-number-input__u-border-color-rgb-63-63-70-1--4e12bcf58d:is(.dark *) {
  border-color: rgb(63 63 70 / 1);
}

.rui-number-input__u-border-color-rgb-63-63-70-1--4e12bcf58d\/60:is(.dark *) {
  border-color: rgb(63 63 70 / 0.6);
}

.rui-number-input__u-border-color-rgb-63-63-70-1--4e12bcf58d\/70:is(.dark *) {
  border-color: rgb(63 63 70 / 0.7);
}

.rui-number-input__u-background-color-rgb-24-24-27-1--6319578a41:is(.dark *) {
  background-color: rgb(24 24 27 / 1);
}

.rui-number-input__u-background-color-rgb-24-24-27-1--6319578a41\/40:is(.dark *) {
  background-color: rgb(24 24 27 / 0.4);
}

.rui-number-input__u-background-color-rgb-24-24-27-1--6319578a41\/50:is(.dark *) {
  background-color: rgb(24 24 27 / 0.5);
}

.rui-number-input__u-background-color-rgb-24-24-27-1--6319578a41\/60:is(.dark *) {
  background-color: rgb(24 24 27 / 0.6);
}

.rui-number-input__u-background-color-rgb-24-24-27-0---5cd2915a74:is(.dark *) {
  background-color: rgb(24 24 27 / 0.7);
}

.rui-number-input__u-background-color-rgb-24-24-27-1--6319578a41\/80:is(.dark *) {
  background-color: rgb(24 24 27 / 0.8);
}

.rui-number-input__u-background-color-rgb-24-24-27-1--6319578a41\/95:is(.dark *) {
  background-color: rgb(24 24 27 / 0.95);
}

.rui-number-input__u-color-rgb-251-113-133-1--897de47303:is(.dark *) {
  color: rgb(251 113 133 / 1);
}

.rui-number-input__u-color-rgb-244-244-245-1--3ddc1cab99:is(.dark *) {
  color: rgb(244 244 245 / 1);
}

.rui-number-input__u-color-rgb-212-212-216-1--5b8efd1d78:is(.dark *) {
  color: rgb(212 212 216 / 1);
}

.rui-number-input__u-color-rgb-161-161-170-1--6462b86910:is(.dark *) {
  color: rgb(161 161 170 / 1);
}

.rui-number-input__u-color-rgb-113-113-122-1--8a97e48efc:is(.dark *)::-moz-placeholder {
  color: rgb(113 113 122 / 1);
}

.rui-number-input__u-color-rgb-113-113-122-1--8a97e48efc:is(.dark *)::placeholder {
  color: rgb(113 113 122 / 1);
}

.rui-number-input__u-border-color-rgb-100-116-139-1--7e4150ed84:focus-within:is(.dark *) {
  border-color: rgb(100 116 139 / 1);
}

.rui-number-input__u-webkit-appearance-none--92a3b1179a::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.rui-number-input__u-webkit-appearance-none--02681522bc::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.rui-number-input__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-number-input__u-display-grid--f3c543ad5f {
  display: grid;
}

.rui-number-input__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-number-input__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-number-input__u-transition-property-color-backgr--56bf8ae82a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-number-input__u-box-shadow-0-0-0000-0-0-0000-0-0--e431ff085e:focus-within {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 0 1px rgba(148,163,184,0.45);
}

.rui-number-input__u-box-shadow-0-0-0000-0-0-0000-0-0--633a78b9cd:focus-within {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 0 1px rgba(248,113,113,0.35);
}

.rui-number-input__shell {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05),
    0 0 0 1px rgb(203 213 225 / 0.95);
}

.rui-number-input__shell:is(.dark *),
.rui-number-input__shell:is([data-theme="dark"] *) {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}


.rui-number-input__shell {
  min-width: 0;
  width: max-content;
  max-width: 100%;
}

.rui-number-input__helper {
  align-self: stretch;
  width: 100%;
  max-width: 100%;
}
