.rui-number-input-demo__u-flex-direction-column--8dddea0773 {
  flex-direction: column;
}

.rui-number-input-demo__u-justify-content-center--86843cf1e2 {
  justify-content: center;
}

.rui-number-input-demo__u-gap-0-75rem--1004c0c395 {
  gap: 0.75rem;
}

.rui-number-input-demo__u-gap-1rem--0c3bc98565 {
  gap: 1rem;
}

.rui-number-input-demo__u-style--6ed543e2fb > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.75rem * calc(1 - 0));
  margin-bottom: calc(0.75rem * 0);
}

.rui-number-input-demo__u-border-radius-1rem--68f2db624d {
  border-radius: 1rem;
}

.rui-number-input-demo__u-border-radius-1-5rem--ea189a088a {
  border-radius: 1.5rem;
}

.rui-number-input-demo__u-border-style-dashed--a29b7a649c {
  border-style: dashed;
}

.rui-number-input-demo__u-border-color-rgb-226-232-240-1--52f4da2ca5 {
  border-color: rgb(226 232 240 / 1);
}

.rui-number-input-demo__u-background-color-rgb-248-250-252--2579b25ad0 {
  background-color: rgb(248 250 252 / 0.8);
}

.rui-number-input-demo__u-background-color-rgb-255-255-255--6c21de570d {
  background-color: rgb(255 255 255 / 1);
}

.rui-number-input-demo__u-padding-0-75rem--eb6e8b881a {
  padding: 0.75rem;
}

.rui-number-input-demo__u-padding-1rem--8e63407b5c {
  padding: 1rem;
}

.rui-number-input-demo__u-font-size-1-875rem--751fb0d102 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.rui-number-input-demo__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-number-input-demo__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-number-input-demo__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-number-input-demo__u-letter-spacing-0-25em--854c830ad6 {
  letter-spacing: 0.25em;
}

.rui-number-input-demo__u-letter-spacing-0-3em--bf7342eeb7 {
  letter-spacing: 0.3em;
}

.rui-number-input-demo__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-number-input-demo__u-color-rgb-71-85-105-1--2d6fbf48fa {
  color: rgb(71 85 105 / 1);
}

.rui-number-input-demo__u-color-rgb-15-23-42-1--f5f136c41d {
  color: rgb(15 23 42 / 1);
}

.rui-number-input-demo__u-box-shadow-0-0-0000-0-0-0000-ins--eca5782b24 {
  box-shadow: 0 0 #0000, 0 0 #0000, inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.rui-number-input-demo__u-box-shadow-0-0-0000-0-0-0000-0-1--438b2237b8 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-number-input-demo__u-border-color-rgb-30-41-59-1--2072c87505:is(.dark *) {
  border-color: rgb(63 63 70 / 0.6);
}

.rui-number-input-demo__u-background-color-rgb-15-23-42-0---5212cbf15b:is(.dark *) {
  background-color: rgba(24, 24, 27, 0.75);
}

.rui-number-input-demo__u-background-color-rgb-2-6-23-0-6--ddf84eea43:is(.dark *) {
  background-color: #27272a;
}

.rui-number-input-demo__u-color-rgb-241-245-249-1--e1d41ccd69:is(.dark *) {
  color: rgb(241 245 249 / 1);
}

.rui-number-input-demo__u-color-rgb-203-213-225-1--ca11017ff7:is(.dark *) {
  color: rgb(203 213 225 / 1);
}

.rui-number-input-demo__u-color-rgb-148-163-184-1--cc0274aad9:is(.dark *) {
  color: rgb(148 163 184 / 1);
}

@media (min-width: 768px) {

  .rui-number-input-demo__u-grid-template-columns-repeat-2-m--e4d6f343b9 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .rui-number-input-demo__u-grid-template-columns-1-1fr-0-9f--5e2f7a1008 {
    grid-template-columns: 1.1fr 0.9fr;
  }
}

.rui-number-input-demo__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-number-input-demo__u-display-grid--f3c543ad5f {
  display: grid;
}

.rui-number-input-demo__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-number-input-demo__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-number-input-demo__example {
  display: flex;
  flex-direction: column;
}

.rui-number-input-demo__budget-planner {
  display: flex;
  gap: 1.25rem;
  align-items: stretch;
}

.rui-number-input-demo__budget-planner__inputs {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

.rui-number-input-demo__budget-planner__forecast {
  text-align: center;
  flex: 0 1 20rem;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 1rem;
  border-width: 1px;
  border-style: dashed;
  border-color: rgb(226 232 240 / 1);
  background-color: rgb(248 250 252 / 0.8);
  padding: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(71 85 105 / 1);
  box-shadow: 0 0 #0000, 0 0 #0000, inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.rui-number-input-demo__budget-planner__inputs .rui-number-input__u-style--5a2508227c {
  text-align: center;
}

.rui-number-input-demo__forecast-title {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: rgb(100 116 139 / 1);
}

.rui-number-input-demo__forecast-value {
  margin: 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: rgb(15 23 42 / 1);
}

.rui-number-input-demo__forecast-desc {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(100 116 139 / 1);
}

@media (max-width: 767px) {
  .rui-number-input-demo__budget-planner {
    flex-direction: column;
  }
}

.rui-number-input-demo__compact {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1rem;
}

.rui-number-input-demo__compact-item {
  flex: 0 1 10rem;
  min-width: 10rem;
}

.rui-number-input-demo__scale {
  display: grid;
  gap: 1rem;
  align-items: start;
  justify-items: center;
}

.rui-number-input-demo__scale-control {
  width: min(28rem, 100%);
}

.rui-number-input-demo__scale-preview {
  display: flex;
  justify-content: center;
  max-width: 14rem;
}

.rui-number-input-demo__scale-preview .rui-number-input__u-style--5a2508227c {
  text-align: center;
}

.rui-number-input-demo__budget-planner__forecast:is(.dark *),
.rui-number-input-demo__budget-planner__forecast:is([data-theme="dark"] *) {
  border-color: rgb(63 63 70 / 0.6);
  background-color: #27272a;
  color: rgb(203 213 225 / 1);
}

.rui-number-input-demo__forecast-title:is(.dark *),
.rui-number-input-demo__forecast-title:is([data-theme="dark"] *),
.rui-number-input-demo__forecast-desc:is(.dark *),
.rui-number-input-demo__forecast-desc:is([data-theme="dark"] *) {
  color: rgb(148 163 184 / 1);
}

.rui-number-input-demo__forecast-value:is(.dark *),
.rui-number-input-demo__forecast-value:is([data-theme="dark"] *) {
  color: rgb(241 245 249 / 1);
}

