@import "../../styles/tokens.css";

.rui-checkbox-demo__u-margin-top-0-75rem--eccd13ef4f {
  margin-top: 0.75rem;
}

.rui-checkbox-demo__u-display-grid--f3c543ad5f {
  display: grid;
}

.rui-checkbox-demo__u-gap-1rem--0c3bc98565 {
  gap: 1rem;
}

.rui-checkbox-demo__u-style--da7c36cd88 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.25rem * calc(1 - 0));
  margin-bottom: calc(0.25rem * 0);
}

.rui-checkbox-demo__u-style--6f7e013d64 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.5rem * calc(1 - 0));
  margin-bottom: calc(0.5rem * 0);
}

.rui-checkbox-demo__u-style--3e7ce58d64 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(1rem * calc(1 - 0));
  margin-bottom: calc(1rem * 0);
}

.rui-checkbox-demo__u-border-radius-1rem--68f2db624d {
  border-radius: 1rem;
}

.rui-checkbox-demo__u-border-radius-1-5rem--ea189a088a {
  border-radius: 1.5rem;
}

.rui-checkbox-demo__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-checkbox-demo__u-border-color-rgb-226-232-240-1--52f4da2ca5 {
  border-color: rgb(226 232 240 / 1);
}

.rui-checkbox-demo__u-background-color-rgb-255-255-255--845918557e {
  background-color: rgb(255 255 255 / 0.8);
}

.rui-checkbox-demo__u-padding-1rem--8e63407b5c {
  padding: 1rem;
}

.rui-checkbox-demo__u-padding-left-1-5rem--9079b62ef1 {
  padding-left: 1.5rem;
}

.rui-checkbox-demo__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-checkbox-demo__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-checkbox-demo__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-checkbox-demo__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-checkbox-demo__u-letter-spacing-0-3em--bf7342eeb7 {
  letter-spacing: 0.3em;
}

.rui-checkbox-demo__u-color-rgb-148-163-184-1--8d44cef396 {
  color: rgb(148 163 184 / 1);
}

.rui-checkbox-demo__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-checkbox-demo__u-color-rgb-71-85-105-1--2d6fbf48fa {
  color: rgb(71 85 105 / 1);
}

.rui-checkbox-demo__u-box-shadow-0-0-0000-0-0-0000-0-1--438b2237b8 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-checkbox-demo__u-border-color-rgb-30-41-59-1--2072c87505:is(.dark *) {
  border-color: rgb(63 63 70 / 0.6);
}

.rui-checkbox-demo__u-background-color-rgb-15-23-42-0---43aaa5e5c1:is(.dark *) {
  background-color: rgb(15 23 42 / 0.6);
}

.rui-checkbox-demo__u-color-rgb-203-213-225-1--ca11017ff7:is(.dark *) {
  color: rgb(203 213 225 / 1);
}

.rui-checkbox-demo__u-color-rgb-148-163-184-1--cc0274aad9:is(.dark *) {
  color: rgb(148 163 184 / 1);
}

.rui-checkbox-demo__u-color-rgb-100-116-139-1--15b16954d1:is(.dark *) {
  color: rgb(100 116 139 / 1);
}

@media (min-width: 768px) {

  .rui-checkbox-demo__u-grid-template-columns-repeat-2-m--e4d6f343b9 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

