.rui-dialog-demo__u-width-100--6da6a3c3f7 {
  width: 100%;
}

.rui-dialog-demo__u-min-width-120px--a9ef791a07 {
  min-width: 120px;
}

.rui-dialog-demo__u-style--da7c36cd88 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.25rem * calc(1 - 0));
  margin-bottom: calc(0.25rem * 0);
}

.rui-dialog-demo__u-style--da7c36cd88\.5 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.375rem * calc(1 - 0));
  margin-bottom: calc(0.375rem * 0);
}

.rui-dialog-demo__u-style--3e7ce58d64 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(1rem * calc(1 - 0));
  margin-bottom: calc(1rem * 0);
}

.rui-dialog-demo__u-border-radius-1-5rem--ea189a088a {
  border-radius: 1.5rem;
}

.rui-dialog-demo__u-border-color-rgb-226-232-240-1--52f4da2ca5 {
  border-color: rgb(226 232 240 / 1);
}

.rui-dialog-demo__u-background-color-rgb-5-150-105-1--0e4e3f4b0e {
  background-color: rgb(5 150 105 / 1);
}

.rui-dialog-demo__u-background-color-rgb-255-255-255--6c21de570d {
  background-color: rgb(255 255 255 / 1);
}

.rui-dialog-demo__u-padding-1-25rem--c07e54fd14 {
  padding: 1.25rem;
}

.rui-dialog-demo__u-padding-left-0-75rem--0e17f2bd90 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.rui-dialog-demo__u-padding-top-0-5rem--03b4dd7f17 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rui-dialog-demo__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-dialog-demo__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-dialog-demo__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-dialog-demo__u-letter-spacing-0-3em--bf7342eeb7 {
  letter-spacing: 0.3em;
}

.rui-dialog-demo__u-letter-spacing-0-025em--8baf13a3e9 {
  letter-spacing: 0.025em;
}

.rui-dialog-demo__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-dialog-demo__u-color-rgb-71-85-105-1--2d6fbf48fa {
  color: rgb(71 85 105 / 1);
}

.rui-dialog-demo__u-color-rgb-51-65-85-1--bcbca7a5be {
  color: rgb(51 65 85 / 1);
}

.rui-dialog-demo__u-color-rgb-255-255-255-1--72a4c7cdee {
  color: rgb(255 255 255 / 1);
}

.rui-dialog-demo__u-box-shadow-0-0-0000-0-0-0000-0-1--438b2237b8 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-dialog-demo__u-border-color-rgb-5-150-105-1--b0f09bb65f:hover {
  border-color: rgb(5 150 105 / 1);
}

.rui-dialog-demo__u-background-color-rgb-4-120-87-1--5e6d7ad0a3:hover {
  background-color: rgb(4 120 87 / 1);
}

.rui-dialog-demo__u-border-color-rgb-30-41-59-1--2072c87505:is(.dark *) {
  border-color: rgb(30 41 59 / 1);
}

.rui-dialog-demo__u-background-color-rgb-16-185-129---5fc9088aa4:is(.dark *) {
  background-color: rgb(16 185 129 / 1);
}

.rui-dialog-demo__u-background-color-rgb-15-23-42-0---5212cbf15b:is(.dark *) {
  background-color: rgba(24, 24, 27, 0.75);
}

.rui-dialog-demo__u-color-rgb-203-213-225-1--ca11017ff7:is(.dark *) {
  color: rgb(203 213 225 / 1);
}

.rui-dialog-demo__u-color-rgb-148-163-184-1--cc0274aad9:is(.dark *) {
  color: rgb(148 163 184 / 1);
}

.rui-dialog-demo__u-color-rgb-15-23-42-1--ea4519095b:is(.dark *) {
  color: rgb(15 23 42 / 1);
}

.rui-dialog-demo__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-dialog-demo__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}
