.rui-disclosure-demo__u-margin-top-1px--3bc15c8aaemt-px {
  margin-top: -1px;
}

.rui-disclosure-demo__u-margin-top-0-75rem--eccd13ef4f {
  margin-top: 0.75rem;
}

.rui-disclosure-demo__u-transform-translate-50-0-rotate---3bc15c8aaetranslate-x-1-2 {
  transform: translate(-50%, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.rui-disclosure-demo__u-transform-translate-0-50-rotate---3bc15c8aaetranslate-y-1-2 {
  transform: translate(0, -50%) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.rui-disclosure-demo__u-list-style-type-disc--1f33b438c8 {
  list-style-type: disc;
}

.rui-disclosure-demo__u-gap-1rem--0c3bc98565 {
  gap: 1rem;
}

.rui-disclosure-demo__u-style--da7c36cd88 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.25rem * calc(1 - 0));
  margin-bottom: calc(0.25rem * 0);
}

.rui-disclosure-demo__u-style--da7c36cd88\.5 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.375rem * calc(1 - 0));
  margin-bottom: calc(0.375rem * 0);
}

.rui-disclosure-demo__u-style--6f7e013d64 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.5rem * calc(1 - 0));
  margin-bottom: calc(0.5rem * 0);
}

.rui-disclosure-demo__u-border-radius-1-5rem--ea189a088a {
  border-radius: 1.5rem;
}

.rui-disclosure-demo__u-border-color-rgb-226-232-240-1--52f4da2ca5 {
  border-color: rgb(226 232 240 / 1);
}

.rui-disclosure-demo__u-background-color-rgb-255-255-255--6c21de570d {
  background-color: rgb(255 255 255 / 1);
}

.rui-disclosure-demo__u-padding-1rem--8e63407b5c {
  padding: 1rem;
}

.rui-disclosure-demo__u-padding-left-1rem--fdb4af3ae0 {
  padding-left: 1rem;
}

.rui-disclosure-demo__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-disclosure-demo__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-disclosure-demo__u-letter-spacing-0-3em--bf7342eeb7 {
  letter-spacing: 0.3em;
}

.rui-disclosure-demo__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-disclosure-demo__u-box-shadow-0-0-0000-0-0-0000-0-1--438b2237b8 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-disclosure-demo__u-border-color-rgb-30-41-59-1--2072c87505:is(.dark *) {
  border-color: rgb(30 41 59 / 1);
}

.rui-disclosure-demo__u-background-color-rgb-15-23-42-0---5212cbf15b:is(.dark *) {
  background-color: rgba(24, 24, 27, 0.75);
}

.rui-disclosure-demo__u-color-rgb-148-163-184-1--cc0274aad9:is(.dark *) {
  color: rgb(148 163 184 / 1);
}

.rui-disclosure-demo__faq-item {
  border-radius: 1rem;
  border: 1px solid rgb(226 232 240 / 1);
  background-color: rgb(255 255 255 / 1);
}

[data-theme="dark"] .rui-disclosure-demo__faq-item {
  border-color: rgb(63 63 70 / 0.6);
  background-color: rgb(24 24 27 / 0.7);
}

@media (min-width: 768px) {

  .rui-disclosure-demo__u-grid-template-columns-repeat-2-m--e4d6f343b9 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.rui-disclosure-demo__u-display-grid--f3c543ad5f {
  display: grid;
}

.rui-disclosure-demo__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-disclosure-demo__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}
