.rui-disclosure__u-margin-top-0-75rem--eccd13ef4f {
  margin-top: 0.75rem;
}

.rui-disclosure__u-flex-1-1-0--36e579c0b4 {
  flex: 1 1 0%;
}

.rui-disclosure__u-cursor-pointer--3451683673 {
  cursor: pointer;
}

.rui-disclosure__u-list-style-type-none--b20d79b23d {
  list-style-type: none;
}

.rui-disclosure__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-disclosure__u-justify-content-space-between--8ef2268efb {
  justify-content: space-between;
}

.rui-disclosure__u-gap-0-5rem--77a2a20e90 {
  gap: 0.5rem;
}

.rui-disclosure__u-gap-0-75rem--1004c0c395 {
  gap: 0.75rem;
}

.rui-disclosure__u-style--6f7e013d64 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.5rem * calc(1 - 0));
  margin-bottom: calc(0.5rem * 0);
}

.rui-disclosure__u-border-radius-1rem--68f2db624d {
  border-radius: 1rem;
}

.rui-disclosure__u-border-radius-0-5rem--5f22e64f22 {
  border-radius: 0.5rem;
}

.rui-disclosure__u-border-color-rgb-226-232-240-1--52f4da2ca5 {
  border-color: rgb(226 232 240 / 1);
}

.rui-disclosure__u-border-color-transparent--521fa0c7c4 {
  border-color: transparent;
}

.rui-disclosure__u-background-color-rgb-241-245-249--34d54ab9e5 {
  background-color: rgb(241 245 249 / 1);
}

.rui-disclosure__u-background-color-rgb-241-245-249--34d54ab9e5\/70 {
  background-color: rgb(241 245 249 / 0.7);
}

.rui-disclosure__u-background-color-rgb-255-255-255--d2fa6cb50a {
  background-color: rgb(255 255 255 / 0.6);
}

.rui-disclosure__u-background-color-rgb-255-255-255--6c21de570d {
  background-color: rgb(255 255 255 / 0.9);
}

.rui-disclosure__u-padding-0-75rem--eb6e8b881a {
  padding: 0.75rem;
}

.rui-disclosure__u-padding-left-0-5rem--d5eab218aa {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.rui-disclosure__u-padding-left-0-5rem--d5eab218aa\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.rui-disclosure__u-padding-top-0-25rem--660d2effb8 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rui-disclosure__u-text-align-left--2eba0d65d0 {
  text-align: left;
}

.rui-disclosure__u-font-size-11px--d058ca6de6 {
  font-size: 11px;
}

.rui-disclosure__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-disclosure__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-disclosure__u-letter-spacing-0-2em--2da1a7016e {
  letter-spacing: 0.2em;
}

.rui-disclosure__u-color-rgb-148-163-184-1--8d44cef396 {
  color: rgb(148 163 184 / 1);
}

.rui-disclosure__u-color-rgb-100-116-139-1--30426eb75c {
  color: rgb(100 116 139 / 1);
}

.rui-disclosure__u-color-rgb-71-85-105-1--2d6fbf48fa {
  color: rgb(71 85 105 / 1);
}

.rui-disclosure__u-box-shadow-0-0-0000-0-0-0000-ins--eca5782b24 {
  box-shadow: 0 0 #0000, 0 0 #0000, inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.rui-disclosure__u-box-shadow-0-0-0000-0-0-0000-0-0--ad47d17e60 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
}

.rui-disclosure__u-box-shadow-0-0-0000-0-0-0000-0-1--438b2237b8 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.rui-disclosure__u-transition-property-transform--eadef23823 {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-disclosure__u-transition-duration-200ms--625a4c3fbe {
  transition-duration: 200ms;
}

.rui-disclosure__u-outline-2px-solid-transparent--f10f771f87:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rui-disclosure__u-box-shadow-0-0-0-0px-fff-0-0-0-c--793c80e97f:focus-visible {
  box-shadow: 0 0 0 0px #fff, 0 0 0 calc(2px + 0px) rgb(59 130 246 / 0.5), 0 0 #0000;
}

.rui-disclosure__u-style--53929537d6:focus-visible {
}

.group[open] .rui-disclosure__u-transform-translate-0-0-rotate-1--29aa8254b9 {
  transform: translate(0, 0) rotate(180deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.rui-disclosure__u-border-color-rgb-63-63-70-0-6--2e65f80c00:is(.dark *) {
  border-color: rgb(63 63 70 / 0.6);
}

.rui-disclosure__u-background-color-rgb-39-39-42-0---b37a7836e7:is(.dark *) {
  background-color: rgb(39 39 42 / 0.7);
}

.rui-disclosure__u-background-color-rgb-24-24-27-0---aef378d8de:is(.dark *) {
  background-color: rgb(24 24 27 / 0.4);
}

.rui-disclosure__u-background-color-rgb-24-24-27-0---5cd2915a74:is(.dark *) {
  background-color: rgb(24 24 27 / 0.7);
}

.rui-disclosure__u-color-rgb-212-212-216-1--5b8efd1d78:is(.dark *) {
  color: rgb(212 212 216 / 1);
}

.rui-disclosure__u-color-rgb-113-113-122-1--28db7d8770:is(.dark *) {
  color: rgb(113 113 122 / 1);
}

.rui-disclosure__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-disclosure__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-disclosure__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-disclosure__u-transition-property-color-backgr--56bf8ae82a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-disclosure__u-style--64292b1c2b[open] .rui-disclosure__u-transform-translate-0-0-rotate-1--29aa8254b9 {
  transform: translate(0, 0) rotate(180deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.rui-disclosure__u-display-flex--64292b1c2b:focus-within .group-focus-within\:flex {
  display: flex;
}

.rui-disclosure__u-display-flex--64292b1c2b:hover .group-hover\:flex {
  display: flex;
}

.rui-disclosure {
  border-color: rgb(226 232 240 / 1);
  background-color: rgb(255 255 255 / 1);
  box-shadow: none;
}

[data-theme="dark"] .rui-disclosure {
  border-color: rgb(63 63 70 / 0.6);
  background-color: rgb(24 24 27 / 0.7);
}

.rui-disclosure--subtle {
  border-color: transparent;
  background-color: transparent;
}

.rui-disclosure--subtle:is(.dark *) {
  background-color: transparent;
}

.rui-disclosure[open] .rui-disclosure__caret {
  transform: rotate(180deg);
}

.rui-disclosure__u-flex-1-1-0--36e579c0b4 {
  min-width: 0;
}
