.rui-disclosure {
  border-radius: 1rem;
  border-width: 1px;
  border-color: rgb(226 232 240 / 1);
  background-color: rgb(255 255 255 / 1);
  padding: 0.75rem;
  box-shadow: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

[data-theme="dark"] .rui-disclosure {
  border-color: rgb(63 63 70 / 0.6);
  background-color: rgb(24 24 27 / 0.7);
}

.rui-disclosure--subtle {
  border-color: transparent;
  background-color: transparent;
}

.rui-disclosure--subtle:is(.dark *) {
  background-color: transparent;
}

.rui-disclosure__summary {
  display: flex;
  cursor: pointer;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  text-align: left;
}

.rui-disclosure__summary:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 0px #fff, 0 0 0 calc(2px + 0px) rgb(59 130 246 / 0.5), 0 0 #0000;
}

.rui-disclosure__header {
  display: flex;
  flex: 1 1 0%;
  min-width: 0;
  align-items: center;
  gap: 0.5rem;
}

.rui-disclosure__title {
  border-radius: 0.5rem;
  background-color: rgb(241 245 249 / 1);
  padding: 0.25rem 0.5rem;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(100 116 139 / 1);
  box-shadow: 0 0 #0000, 0 0 #0000, inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.rui-disclosure__title:is(.dark *) {
  background-color: rgb(39 39 42 / 0.7);
  color: rgb(212 212 216 / 1);
}

.rui-disclosure__caret {
  color: rgb(148 163 184 / 1);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rui-disclosure__caret:is(.dark *) {
  color: rgb(113 113 122 / 1);
}

.rui-disclosure[open] .rui-disclosure__caret {
  transform: rotate(180deg);
}

.rui-disclosure__content {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(71 85 105 / 1);
}

.rui-disclosure__content > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

.rui-disclosure__content:is(.dark *) {
  color: rgb(212 212 216 / 1);
}
