.disclosure-demo-card {
  border-radius: 1.5rem;
  border-width: 1px;
  border-color: rgb(226 232 240 / 1);
  background-color: rgb(255 255 255 / 1);
  padding: 1rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.disclosure-demo-card:is([data-theme="dark"] *) {
  border-color: rgb(63 63 70 / 0.6);
  background-color: rgba(24, 24, 27, 0.75);
}

.disclosure-demo-card--stack > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

.disclosure-demo-list {
  margin-top: 0.75rem;
}

.disclosure-demo-list > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

.disclosure-demo-bullet-list {
  list-style-type: disc;
  padding-left: 1rem;
}

.disclosure-demo-bullet-list > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.25rem;
  margin-bottom: 0px;
}

.disclosure-demo__faq-item {
  border-radius: 1rem;
  border: 1px solid rgb(226 232 240 / 1);
  background-color: rgb(255 255 255 / 1);
}

[data-theme="dark"] .disclosure-demo__faq-item {
  border-color: rgb(63 63 70 / 0.6);
  background-color: rgb(24 24 27 / 0.7);
}

.disclosure-demo-grid {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .disclosure-demo-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

}