.rui-table-demo__u-margin-top-0-75rem--eccd13ef4f {
  margin-top: 0.75rem;
}

.rui-table-demo__u-width-0-375rem--d75e0c426b {
  width: 0.375rem;
  height: 0.375rem;
}

.rui-table-demo__u-width-moz-fit-content--92e7450ad2 {
  width: -moz-fit-content;
  width: fit-content;
}

.rui-table-demo__u-width-100--6da6a3c3f7 {
  width: 100%;
}

.rui-table-demo__u-max-width-32rem--6199866f61 {
  max-width: 32rem;
}

.rui-table-demo__u-flex-wrap-wrap--1eb5c6df38 {
  flex-wrap: wrap;
}

.rui-table-demo__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-table-demo__u-justify-content-space-between--8ef2268efb {
  justify-content: space-between;
}

.rui-table-demo__u-gap-0-5rem--77a2a20e90 {
  gap: 0.5rem;
}

.rui-table-demo__u-gap-0-75rem--1004c0c395 {
  gap: 0.75rem;
}

.rui-table-demo__u-gap-1rem--0c3bc98565 {
  gap: 1rem;
}

.rui-table-demo__u-overflow-hidden--2cd02d11d1 {
  overflow: hidden;
}

.rui-table-demo__u-border-radius-1-5rem--ea189a088a {
  border-radius: 1.5rem;
}

.rui-table-demo__u-border-radius-9999px--ac204c1088 {
  border-radius: 9999px;
}

.rui-table-demo__u-border-radius-0-75rem--a217b4eaa9 {
  border-radius: 0.75rem;
}

.rui-table-demo__u-rui-border-opacity-1--52f4da2ca5 {
  --rui-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--rui-border-opacity, 1));
}

.rui-table-demo__u-rui-border-opacity-1--6b0439773b {
  --rui-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--rui-border-opacity, 1));
}

.rui-table-demo__u-background-color-rgb-251-191-36---2d0a4f72fa {
  background-color: rgb(251 191 36 / 0.9);
}

.rui-table-demo__u-background-color-rgb-16-185-129---5a31c1c8ef {
  background-color: rgb(16 185 129 / 0.9);
}

.rui-table-demo__u-background-color-rgb-244-63-94-0--9c84066f4b {
  background-color: rgb(244 63 94 / 0.9);
}

.rui-table-demo__u-background-color-rgb-56-189-248---d2f1dd6d0a {
  background-color: rgb(56 189 248 / 0.9);
}

.rui-table-demo__u-rui-bg-opacity-1--5e10cdb8f1 {
  --rui-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rui-bg-opacity, 1));
}

.rui-table-demo__u-rui-bg-opacity-1--5e10cdb8f1\/60 {
  background-color: rgb(255 255 255 / 0.6);
}

.rui-table-demo__u-rui-bg-opacity-1--5e10cdb8f1\/70 {
  background-color: rgb(255 255 255 / 0.7);
}

.rui-table-demo__u-background-color-rgb-255-255-255--845918557e {
  background-color: rgb(255 255 255 / 1);
}

.rui-table-demo__u-background-color-rgb-255-255-255--6c21de570d {
  background-color: rgb(255 255 255 / 1);
}

.rui-table-demo__u-rui-bg-opacity-1--5e10cdb8f1\/95 {
  background-color: rgb(255 255 255 / 0.95);
}

.rui-table-demo__u-padding-1rem--8e63407b5c {
  padding: 1rem;
}

.rui-table-demo__u-padding-left-0-5rem--d5eab218aa {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.rui-table-demo__u-padding-left-0-5rem--d5eab218aa\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.rui-table-demo__u-padding-left-0-75rem--0e17f2bd90 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.rui-table-demo__u-padding-top-0-25rem--660d2effb8 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rui-table-demo__u-font-size-11px--d058ca6de6 {
  font-size: 11px;
}

.rui-table-demo__u-font-size-0-875rem--fc7473ca09 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rui-table-demo__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-table-demo__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-table-demo__u-letter-spacing-0-2em--2da1a7016e {
  letter-spacing: 0.2em;
}

.rui-table-demo__u-letter-spacing-0-3em--bf7342eeb7 {
  letter-spacing: 0.3em;
}

.rui-table-demo__u-rui-text-opacity-1--30426eb75c {
  --rui-text-opacity: 1;
  color: rgb(100 116 139 / var(--rui-text-opacity, 1));
}

.rui-table-demo__u-rui-text-opacity-1--2d6fbf48fa {
  --rui-text-opacity: 1;
  color: rgb(71 85 105 / var(--rui-text-opacity, 1));
}

.rui-table-demo__u-rui-text-opacity-1--f5f136c41d {
  --rui-text-opacity: 1;
  color: rgb(15 23 42 / var(--rui-text-opacity, 1));
}

.rui-table-demo__u-rui-text-opacity-1--72a4c7cdee {
  --rui-text-opacity: 1;
  color: rgb(255 255 255 / var(--rui-text-opacity, 1));
}

.rui-table-demo__u-rui-shadow-0-1px-2px-0-rgb-0-0-0--438b2237b8 {
  --rui-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --rui-shadow-colored: 0 1px 2px 0 var(--rui-shadow-color);
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-table-demo__u-rui-translate-y-1px--2464a58ddc:hover {
  --rui-translate-y: -1px;
  transform: translate(var(--rui-translate-x), var(--rui-translate-y)) rotate(var(--rui-rotate)) skewX(var(--rui-skew-x)) skewY(var(--rui-skew-y)) scaleX(var(--rui-scale-x)) scaleY(var(--rui-scale-y));
}

.rui-table-demo__u-rui-shadow-0-1px-2px-0-rgb-0-0-0--ab1dd417ce:hover {
  --rui-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --rui-shadow-colored: 0 1px 2px 0 var(--rui-shadow-color);
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-table-demo__u-rui-border-opacity-1--ba51e3e27c:is(.dark *) {
  --rui-border-opacity: 1;
  border-color: rgb(71 85 105 / var(--rui-border-opacity, 1));
}

.rui-table-demo__u-rui-border-opacity-1--30fb741464:is(.dark *) {
  --rui-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--rui-border-opacity, 1));
}

.rui-table-demo__u-rui-border-opacity-1--2072c87505:is(.dark *) {
  --rui-border-opacity: 1;
  border-color: rgb(30 41 59 / var(--rui-border-opacity, 1));
}

.rui-table-demo__u-rui-border-opacity-1--4e12bcf58d:is(.dark *) {
  --rui-border-opacity: 1;
  border-color: rgb(63 63 70 / var(--rui-border-opacity, 1));
}

.rui-table-demo__u-rui-border-opacity-1--4e12bcf58d\/60:is(.dark *) {
  border-color: rgb(63 63 70 / 0.6);
}

.rui-table-demo__u-rui-border-opacity-1--4e12bcf58d\/70:is(.dark *) {
  border-color: rgb(63 63 70 / 0.7);
}

.rui-table-demo__u-rui-bg-opacity-1--16ce49611c:is(.dark *) {
  --rui-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--rui-bg-opacity, 1));
}

.rui-table-demo__u-rui-bg-opacity-1--f2a0c62312:is(.dark *) {
  --rui-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--rui-bg-opacity, 1));
}

.rui-table-demo__u-rui-bg-opacity-1--f2a0c62312\/60:is(.dark *) {
  background-color: rgb(15 23 42 / 0.6);
}

.rui-table-demo__u-background-color-rgb-15-23-42-0---5212cbf15b:is(.dark *) {
  background-color: rgba(24, 24, 27, 0.75);
}

.rui-table-demo__u-rui-bg-opacity-1--f2a0c62312\/80:is(.dark *) {
  background-color: rgb(15 23 42 / 0.8);
}

.rui-table-demo__u-rui-bg-opacity-1--f2a0c62312\/90:is(.dark *) {
  background-color: rgb(15 23 42 / 0.9);
}

.rui-table-demo__u-background-color-rgb-24-24-27-0---5cd2915a74:is(.dark *) {
  background-color: rgb(24 24 27 / 0.7);
}

.rui-table-demo__u-rui-text-opacity-1--e1d41ccd69:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(241 245 249 / var(--rui-text-opacity, 1));
}

.rui-table-demo__u-rui-text-opacity-1--ca11017ff7:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(203 213 225 / var(--rui-text-opacity, 1));
}

.rui-table-demo__u-rui-text-opacity-1--cc0274aad9:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(148 163 184 / var(--rui-text-opacity, 1));
}

@media (min-width: 768px) {

  .rui-table-demo__u-grid-template-columns-repeat-2-m--e4d6f343b9 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.rui-table-demo__statusPill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.rui-table-demo__u-display-block--0214b4b355 {
  display: block;
}

.rui-table-demo__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-table-demo__u-display-grid--f3c543ad5f {
  display: grid;
}

.rui-table-demo__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-table-demo__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-table-demo__u-transition-property-color-backgr--56bf8ae82a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
