.rui-slider__track-container,
.rui-slider__track-container * {
  box-sizing: border-box;
}

.rui-slider__u-pointer-events-none--a4326536b8 {
  pointer-events: none;
}

.rui-slider__u-inset-0px--7b7df0449b {
  inset: 0px;
}

.rui-slider__u-inset-5px--e4b9817df1 {
  inset: 5px;
}

.rui-slider__u-top-0px--5f89f14a26 {
  top: 0px;
  bottom: 0px;
}

.rui-slider__u-left-0px--c78facc7a0 {
  left: 0px;
}

.rui-slider__u-left-50--e632769ad7 {
  left: 50%;
}

.rui-slider__u-right-0px--d8cdcad240 {
  right: 0px;
}

.rui-slider__u-top-50--d694ba66e3 {
  top: 50%;
}

.rui-slider__u-margin-left-auto--0e12dc7de9 {
  margin-left: auto;
  margin-right: auto;
}

.rui-slider__u-height-2-5rem--426b8b7518 {
  height: 2.5rem;
}

.rui-slider__u-height-0-75rem--6a60c09e6a {
  height: 0.75rem;
}

.rui-slider__u-height-12rem--3c8ea328c0 {
  height: 12rem;
}

.rui-slider__u-height-2rem--ed8a5df7b2 {
  height: 2rem;
}

.rui-slider__u-height-100--668b21aa54 {
  height: 100%;
}

.rui-slider__u-width-0-75rem--9cea05671a {
  width: 0.75rem;
}

.rui-slider__u-width-2rem--2bbcfc3b51 {
  width: 2rem;
}

.rui-slider__u-width-100--6da6a3c3f7 {
  width: 100%;
}

.rui-slider__u-max-width-120px--d3f6ecda5b {
  max-width: 120px;
}

.rui-slider__u-rui-translate-x-50--efaa070148 {
  --rui-translate-x: -50%;
  transform: translate(var(--rui-translate-x), var(--rui-translate-y)) rotate(var(--rui-rotate)) skewX(var(--rui-skew-x)) skewY(var(--rui-skew-y)) scaleX(var(--rui-scale-x)) scaleY(var(--rui-scale-y));
}

.rui-slider__u-rui-translate-y-50--36b381be4d {
  --rui-translate-y: -50%;
  transform: translate(var(--rui-translate-x), var(--rui-translate-y)) rotate(var(--rui-rotate)) skewX(var(--rui-skew-x)) skewY(var(--rui-skew-y)) scaleX(var(--rui-scale-x)) scaleY(var(--rui-scale-y));
}

.rui-slider__u-rui-scale-x-1-04--3ae293a6fd {
  --rui-scale-x: 1.04;
  --rui-scale-y: 1.04;
  transform: translate(var(--rui-translate-x), var(--rui-translate-y)) rotate(var(--rui-rotate)) skewX(var(--rui-skew-x)) skewY(var(--rui-skew-y)) scaleX(var(--rui-scale-x)) scaleY(var(--rui-scale-y));
}

.rui-slider__u-cursor-pointer--3451683673 {
  cursor: pointer;
}

.rui-slider__u-webkit-appearance-none--eeea43674c {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.rui-slider__u-align-items-center--3960ffc248 {
  align-items: center;
}

.rui-slider__u-justify-content-center--86843cf1e2 {
  justify-content: center;
}

.rui-slider__u-justify-content-space-between--8ef2268efb {
  justify-content: space-between;
}

.rui-slider__u-gap-0-75rem--1004c0c395 {
  gap: 0.75rem;
}

.rui-slider__u-style--6f7e013d64 > :not([hidden]) ~ :not([hidden]) {
  --rui-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--rui-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--rui-space-y-reverse));
}

.rui-slider__u-overflow-hidden--2cd02d11d1 {
  overflow: hidden;
}

.rui-slider__u-border-radius-9999px--ac204c1088 {
  border-radius: 9999px;
}

.rui-slider__u-rui-border-opacity-1--2fe59630ad {
  --rui-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--rui-border-opacity, 1));
}

.rui-slider__u-rui-border-opacity-1--2fe59630ad\/70 {
  border-color: rgb(255 255 255 / 0.7);
}

.rui-slider__u-background-color-rgb-2-6-23-0-05--2e89c63c5d {
  background-color: rgb(2 6 23 / 0.05);
}

.rui-slider__u-background-color-transparent--7f19cdf4c5 {
  background-color: transparent;
}

.rui-slider__u-rui-bg-opacity-1--5e10cdb8f1 {
  --rui-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--rui-bg-opacity, 1));
}

.rui-slider__u-rui-bg-opacity-1--5e10cdb8f1\/60 {
  background-color: rgb(255 255 255 / 0.6);
}

.rui-slider__u-rui-bg-opacity-1--5e10cdb8f1\/70 {
  background-color: rgb(255 255 255 / 0.7);
}

.rui-slider__u-rui-bg-opacity-1--5e10cdb8f1\/80 {
  background-color: rgb(255 255 255 / 0.8);
}

.rui-slider__u-rui-bg-opacity-1--5e10cdb8f1\/90 {
  background-color: rgb(255 255 255 / 0.9);
}

.rui-slider__u-rui-bg-opacity-1--5e10cdb8f1\/95 {
  background-color: rgb(255 255 255 / 0.95);
}

.rui-slider__u-background-image-linear-gradient--39b2e00348 {
  background-image: linear-gradient(to bottom right, var(--rui-gradient-stops));
}

.rui-slider__u-rui-gradient-from-f8fafc-var-rui--0fa43e0e0f {
  --rui-gradient-from: #f8fafc var(--rui-gradient-from-position);
  --rui-gradient-to: rgb(248 250 252 / 0) var(--rui-gradient-to-position);
  --rui-gradient-stops: var(--rui-gradient-from), var(--rui-gradient-to);
}

.rui-slider__u-rui-gradient-to-e2e8f0-var-rui-g--a1c9255bc2 {
  --rui-gradient-to: #e2e8f0 var(--rui-gradient-to-position);
}

.rui-slider__u-background-size-100-100--7685a877d7 {
  background-size: 100% 100%;
}

.rui-slider__u-padding-left-0-5rem--d5eab218aa {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.rui-slider__u-padding-left-0-5rem--d5eab218aa\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.rui-slider__u-padding-left-1rem--f0faeb26d6 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rui-slider__u-padding-top-0-125rem--465609a240 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.rui-slider__u-padding-bottom-0-75rem--7fcf9124b5 {
  padding-bottom: 0.75rem;
}

.rui-slider__u-padding-bottom-1rem--9fcd8a1382 {
  padding-bottom: 1rem;
}

.rui-slider__u-padding-top-0-5rem--f46b61a9b3 {
  padding-top: 0.5rem;
}

.rui-slider__u-padding-top-1rem--173fa8f067 {
  padding-top: 1rem;
}

.rui-slider__u-font-size-11px--d058ca6de6 {
  font-size: 11px;
}

.rui-slider__u-font-size-0-75rem--359090c2d5 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.rui-slider__u-font-weight-600--e83a7042bc {
  font-weight: 600;
}

.rui-slider__u-letter-spacing-0-25em--854c830ad6 {
  letter-spacing: 0.25em;
}

.rui-slider__u-rui-text-opacity-1--30426eb75c {
  --rui-text-opacity: 1;
  color: rgb(100 116 139 / var(--rui-text-opacity, 1));
}

.rui-slider__u-rui-text-opacity-1--bcbca7a5be {
  --rui-text-opacity: 1;
  color: rgb(51 65 85 / var(--rui-text-opacity, 1));
}

.rui-slider__u-opacity-0--7065497e1c {
  opacity: 0;
}

.rui-slider__u-opacity-0-6--f2868c227f {
  opacity: 0.6;
}

.rui-slider__u-rui-shadow-inset-0-2px-4px-0-rgb--eca5782b24 {
  --rui-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --rui-shadow-colored: inset 0 2px 4px 0 var(--rui-shadow-color);
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-slider__u-rui-shadow-0-4px-6px-1px-rgb-0-0--febc34e471 {
  --rui-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --rui-shadow-colored: 0 4px 6px -1px var(--rui-shadow-color), 0 2px 4px -2px var(--rui-shadow-color);
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-slider__u-rui-shadow-0-0-0000--ad47d17e60 {
  --rui-shadow: 0 0 #0000;
  --rui-shadow-colored: 0 0 #0000;
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-slider__u-rui-shadow-0-1px-2px-0-rgb-0-0-0--438b2237b8 {
  --rui-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --rui-shadow-colored: 0 1px 2px 0 var(--rui-shadow-color);
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-slider__u-rui-shadow-color-rgb-15-23-42-0---6fa334fea1 {
  --rui-shadow-color: rgb(15 23 42 / 0.2);
  --rui-shadow: var(--rui-shadow-colored);
}

.rui-slider__u-rui-ring-offset-shadow-var-rui-r--3daca9af08 {
  --rui-ring-offset-shadow: var(--rui-ring-inset) 0 0 0 var(--rui-ring-offset-width) var(--rui-ring-offset-color);
  --rui-ring-shadow: var(--rui-ring-inset) 0 0 0 calc(1px + var(--rui-ring-offset-width)) var(--rui-ring-color);
  box-shadow: var(--rui-ring-offset-shadow), var(--rui-ring-shadow), var(--rui-shadow, 0 0 #0000);
}

.rui-slider__u-rui-ring-color-rgb-0-0-0-0-05--1e4905f70e {
  --rui-ring-color: rgb(0 0 0 / 0.05);
}

.rui-slider__u-rui-ring-opacity-1--b63063b264 {
  --rui-ring-opacity: 1;
  --rui-ring-color: rgb(226 232 240 / var(--rui-ring-opacity, 1));
}

.rui-slider__u-rui-ring-opacity-1--b63063b264\/70 {
  --rui-ring-color: rgb(226 232 240 / 0.7);
}

.rui-slider__u-rui-ring-color-rgb-226-232-240-0--dff1289ca3 {
  --rui-ring-color: rgb(226 232 240 / 0.8);
}

.rui-slider__u-rui-ring-opacity-1--ac04a0392c {
  --rui-ring-opacity: 1;
  --rui-ring-color: rgb(203 213 225 / var(--rui-ring-opacity, 1));
}

.rui-slider__u-rui-backdrop-blur-blur-1px--d88c782b6b {
  --rui-backdrop-blur: blur(1px);
  backdrop-filter: var(--rui-backdrop-blur) var(--rui-backdrop-brightness) var(--rui-backdrop-contrast) var(--rui-backdrop-grayscale) var(--rui-backdrop-hue-rotate) var(--rui-backdrop-invert) var(--rui-backdrop-opacity) var(--rui-backdrop-saturate) var(--rui-backdrop-sepia);
}

.rui-slider__u-transition-property-none--8c53a2a0df {
  transition-property: none;
}

.rui-slider__u-transition-property-transform--eadef23823 {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.rui-slider__u-transition-duration-150ms--233c0494b4 {
  transition-duration: 150ms;
}

.rui-slider__u-transition-timing-function-cubic--d905a812b4 {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.rui-slider__u-border-color-rgb-63-63-70-0-6--2e65f80c00:is(.dark *) {
  border-color: rgb(63 63 70 / 0.6);
}

.rui-slider__u-background-color-rgb-255-255-255--72e7ae8285:is(.dark *) {
  background-color: rgb(255 255 255 / 0.05);
}

.rui-slider__u-rui-bg-opacity-1--74e56634bd:is(.dark *) {
  --rui-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--rui-bg-opacity, 1));
}

.rui-slider__u-rui-bg-opacity-1--74e56634bd\/60:is(.dark *) {
  background-color: rgb(39 39 42 / 0.6);
}

.rui-slider__u-rui-bg-opacity-1--74e56634bd\/70:is(.dark *) {
  background-color: rgb(39 39 42 / 0.7);
}

.rui-slider__u-background-color-rgb-24-24-27-0---67553a7cb3:is(.dark *) {
  background-color: rgb(24 24 27 / 0.8);
}

.rui-slider__u-rui-gradient-from-475569-var-rui--e98841ae66:is(.dark *) {
  --rui-gradient-from: #475569 var(--rui-gradient-from-position);
  --rui-gradient-to: rgb(71 85 105 / 0) var(--rui-gradient-to-position);
  --rui-gradient-stops: var(--rui-gradient-from), var(--rui-gradient-to);
}

.rui-slider__u-rui-gradient-to-334155-var-rui-g--99758921bf:is(.dark *) {
  --rui-gradient-to: #334155 var(--rui-gradient-to-position);
}

.rui-slider__u-rui-text-opacity-1--270353156a:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(228 228 231 / var(--rui-text-opacity, 1));
}

.rui-slider__u-rui-text-opacity-1--6462b86910:is(.dark *) {
  --rui-text-opacity: 1;
  color: rgb(161 161 170 / var(--rui-text-opacity, 1));
}

.rui-slider__u-rui-shadow-0-0-0000--2ac3c2fc68:is(.dark *) {
  --rui-shadow: 0 0 #0000;
  --rui-shadow-colored: 0 0 #0000;
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-slider__u-rui-shadow-color-rgb-0-0-0-0-3--5bbe38eab8:is(.dark *) {
  --rui-shadow-color: rgb(0 0 0 / 0.3);
  --rui-shadow: var(--rui-shadow-colored);
}

.rui-slider__u-rui-ring-opacity-1--8adf4f0314:is(.dark *) {
  --rui-ring-opacity: 1;
  --rui-ring-color: rgb(100 116 139 / var(--rui-ring-opacity, 1));
}

.rui-slider__u-rui-ring-color-rgb-255-255-255-0--e440174b6b:is(.dark *) {
  --rui-ring-color: rgb(255 255 255 / 0.1);
}

.rui-slider__u-rui-ring-opacity-1--3c493ef2d8:is(.dark *) {
  --rui-ring-opacity: 1;
  --rui-ring-color: rgb(63 63 70 / var(--rui-ring-opacity, 1));
}

.rui-slider__u-position-absolute--da4dbfbc4f {
  position: absolute;
}

.rui-slider__u-position-relative--d89972fe17 {
  position: relative;
}

.rui-slider__u-display-block--0214b4b355 {
  display: block;
}

.rui-slider__u-display-flex--60fbb77139 {
  display: flex;
}

.rui-slider__u-border-width-1px--ca6bcd4b6f {
  border-width: 1px;
}

.rui-slider__u-background-color-rgb-255-255-255--6c21de570d {
  background-color: rgb(255 255 255 / 0.9);
}

.rui-slider__u-text-transform-uppercase--117ec720ea {
  text-transform: uppercase;
}

.rui-slider__u-rui-shadow-0-0-0-1px-rgba-59-130--25563fe3cd {
  --rui-shadow: 0 0 0 1px rgba(59,130,246,0.18);
  --rui-shadow-colored: 0 0 0 1px var(--rui-shadow-color);
  box-shadow: var(--rui-ring-offset-shadow, 0 0 #0000), var(--rui-ring-shadow, 0 0 #0000), var(--rui-shadow);
}

.rui-slider__u-transition-property-width-height--3810b15da8 {
  transition-property: width,height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}


